Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO, CPP, C

codecov.yml:

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 2%
  individual_components:
    - component_id: module_python # this is an identifier that should not be changed
      name: Python # this is a display name, and can be changed freely
      paths:
        - python/**
    - component_id: module_go
      name: GO
      paths:
        - go/**
    - component_id: module_cpp
      name: CPP
      paths:
        - cpp/**
    - component_id: module_c
      name: C
      paths:
        - c/**
comment: # this is a top-level key
  layout: " diff, flags, files"
  behavior: default
  require_changes: false # learn more in the Requiring Changes section below
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff]
ignore:
  - python/**/test_*.py
coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 2%
        base: auto 
        branches: 
          - main

style(python): remove TypeAlias usage
  python/aoc24/day12/shared.py
  python/aoc24/day13/part_1.py
  python/aoc24/day16/part_2.py
  python/aoc24/day23/part_1.py
  python/aoc25/day07/parse_input.py
  python/aoc25/day07/part_2.py
  python/cmd/testdata.py
Due: Python

style(python): remove TypeAlias usage (#277)
  python/aoc24/day12/shared.py
  python/aoc24/day13/part_1.py
  python/aoc24/day16/part_2.py
  python/aoc24/day23/part_1.py
  python/aoc25/day07/parse_input.py
  python/aoc25/day07/part_2.py
  python/cmd/testdata.py
Due: Python

chore: update readme with correct formating
  python/README.md
Due: Python

chore: update readme with correct formating (#278)
  python/README.md
Due: Python

chore: update readme with correct formating
  README.md
  go/README.md
  test/README.md
Due: GO

chore: update readme with correct formating (#279)
  README.md
  go/README.md
  test/README.md
Due: GO

feat(python): add to file output for cli
  python/aoc.py
  python/cmd/__init__.py
  python/cmd/cli_output.py
  python/cmd/cmd_benchmark.py
  python/cmd/const.py
Due: Python

feat(python): add to file output for cli (#280)
  python/aoc.py
  python/cmd/__init__.py
  python/cmd/cli_output.py
  python/cmd/cmd_benchmark.py
  python/cmd/const.py
Due: Python

ci(github): use benchmark aggregation
  .github/workflows/tests.yml
  benchmark_docs.md
  go/.gitignore
  go/cmd/convert_benchmark/main.go
  go/convert_benchmark.py
  go/go.mod
  go/go.sum
  python/convert_benchmark.py
Due: Python, GO

ci(github): use benchmark aggregation (#281)
  .github/workflows/tests.yml
  benchmark_docs.md
  go/.gitignore
  go/cmd/convert_benchmark/main.go
  go/convert_benchmark.py
  go/go.mod
  go/go.sum
  python/convert_benchmark.py
Due: Python, GO

Update benchmarks [skip ci] f8cdc971badfd0bcd7d38f3f6462b8761f7cecd7
  .nojekyll
Due: none

feat: refactor of input schema
  go/cmd/convert_benchmark/main.go
  go/go.mod
  go/go.sum
  python/convert_benchmark.py
Due: Python, GO

feat: refactor of input schema (#282)
  go/cmd/convert_benchmark/main.go
  go/go.mod
  go/go.sum
  python/convert_benchmark.py
Due: Python, GO

fix(github): bump version for aggregate_benchmark
  .github/workflows/tests.yml
Due: none

fix(github): bump version for aggregate_benchmark (#284)
  .github/workflows/tests.yml
Due: none

fix(github): add debug step
  .github/workflows/tests.yml
Due: none

ci(github): add debug step (#285)
  .github/workflows/tests.yml
Due: none

Update benchmarks [skip ci] f8b690257dfd0483c81ef693317a7fb333382dc0
  app.js
  data.json
  index.html
  style.css
Due: none

feat(python): add year 23 day 01
  go/aoc23/day01/generated_test.go
  go/aoc23/day01/part_1_test.go
  go/aoc23/day01/part_2_test.go
  go/aoc23/day01/sample_1.txt
  go/aoc23/day01/sample_2.txt
  python/aoc23/__init__.py
  python/aoc23/day01/__init__.py
  python/aoc23/day01/part_1.py
  python/aoc23/day01/part_2.py
  test/data.json
Due: Python, GO

feat(python): add year 23 day 02
  go/aoc23/day02/generated_test.go
  go/aoc23/day02/part_1_test.go
  go/aoc23/day02/part_2_test.go
  python/aoc23/day02/__init__.py
  python/aoc23/day02/part_1.py
  python/aoc23/day02/part_2.py
  python/aoc23/day02/shared.py
  test/data.json
  test/data/samples/23/02_sample.txt
Due: Python, GO

style(python): fix style issue
  python/aoc23/day01/part_2.py
Due: Python

feat(python): add year 23 day 02 (#287)
  go/aoc23/day02/generated_test.go
  go/aoc23/day02/part_1_test.go
  go/aoc23/day02/part_2_test.go
  python/aoc23/day02/__init__.py
  python/aoc23/day02/part_1.py
  python/aoc23/day02/part_2.py
  python/aoc23/day02/shared.py
  test/data.json
  test/data/samples/23/02_sample.txt
Due: Python, GO

Update benchmarks [skip ci] 7829a947caa0f0ab7f6a714c4b4f276e637495ba
  data.json
Due: none

feat(python): add year 23 day 01 (#286)
  go/aoc23/day01/generated_test.go
  go/aoc23/day01/part_1_test.go
  go/aoc23/day01/part_2_test.go
  go/aoc23/day01/sample_1.txt
  go/aoc23/day01/sample_2.txt
  python/aoc23/__init__.py
  python/aoc23/day01/__init__.py
  python/aoc23/day01/part_1.py
  python/aoc23/day01/part_2.py
  test/data.json
Due: Python, GO

Update benchmarks [skip ci] 4fa4c0f9b51700eb7d114bcbe821f4896474167d
  data.json
Due: none

chore(test): add year 23 data
  test/data.json
  test/data/samples/23/03_sample.txt
  test/data/samples/23/04_sample.txt
  test/data/samples/23/05_sample.txt
  test/data/samples/23/07_sample2.txt
  test/data/samples/23/08_sample1.txt
  test/data/samples/23/10_sample2.txt
  test/data/samples/23/11_sample.txt
  test/data/samples/23/12_sample.txt
  test/data/samples/23/13_sample.txt
  test/data/samples/23/14_sample.txt
  test/data/samples/23/16_sample.txt
  test/data/samples/23/17_sample.txt
  test/data/samples/23/18_sample.txt
  test/data/samples/23/19_sample.txt
  test/data/samples/23/21_sample.txt
  test/data/samples/23/23_sample.txt
Due: none

test: updated test data file
  test/data.json
  test/data/samples/23/08_sample2.txt
  test/data/samples/23/08_sample3.txt
Due: none

Update benchmarks [skip ci] b5c406d8eada89269ea170288c6289b2a474cc37
  data.json
Due: none

test: expand benchmark keys
  go/cmd/convert_benchmark/main.go
  python/convert_benchmark.py
Due: Python, GO

test: expand benchmark keys (#289)
  go/cmd/convert_benchmark/main.go
  python/convert_benchmark.py
Due: Python, GO

Delete data.json
  data.json
Due: none
