Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO, CPP, C

feat(c): add aoc24 day 05 (#262)
  c/src/aoc24/day05/day05.h
  c/src/aoc24/day05/part_1.c
  c/src/aoc24/day05/part_2.c
  c/test/aoc24/day05_generated.c
Due: C

add Go Benchmark (customSmallerIsBetter) benchmark result for 9ce4d10ac1795ca5a680977895a89f1c1ea27cad
  dev/bench/data.js
Due: none

fix(c): use memmove for slice rotation
  c/src/aoc24/day04/part_1.c
  c/src/aoc24/day04/part_2.c
Due: C

feat(python): add seperate cli commands
  python/aoc.py
  python/cmd/__init__.py
  python/cmd/cmd_benchmark.py
  python/cmd/cmd_list.py
  python/cmd/cmd_parser.py
  python/cmd/collect_solvers.py
  python/cmd/const.py
  python/cmd/get_part.py
  python/cmd/testdata.py
  python/pyproject.toml
Due: Python

feat(python): make benchmark cmd more flexible
  python/aoc.py
  python/cmd/cmd_benchmark.py
Due: Python

style(python): yapf is yapping
  python/aoc.py
  python/cmd/cmd_benchmark.py
  python/cmd/cmd_list.py
  python/cmd/cmd_parser.py
  python/cmd/collect_solvers.py
  python/cmd/const.py
  python/cmd/get_part.py
  python/cmd/testdata.py
Due: Python

feat(python): python cli commands (#265)
  python/aoc.py
  python/cmd/__init__.py
  python/cmd/cmd_benchmark.py
  python/cmd/cmd_list.py
  python/cmd/cmd_parser.py
  python/cmd/collect_solvers.py
  python/cmd/const.py
  python/cmd/get_part.py
  python/cmd/testdata.py
  python/pyproject.toml
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for 135aeeb6236a0d7e97f37810f8d4f725e46030f6
  dev/bench/data.js
Due: none

feat(python): improve performance of python 24 day 18
  python/aoc24/day18/part_1.py
  python/aoc24/day18/part_2.py
  python/aoc24/day18/shared.py
Due: Python

feat(python): improve performance of python 24 day 18 (#266)
  python/aoc24/day18/part_1.py
  python/aoc24/day18/part_2.py
  python/aoc24/day18/shared.py
Due: Python

feat(python): improve performance of python 24 day 20
  python/aoc24/day20/part_1.py
  python/aoc24/day20/part_2.py
  python/aoc24/day20/shared.py
  python/aoc24/day20/test_part_1.py
  python/aoc24/day20/test_part_2.py
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for 782ab40197332b348eccfd7bc2c879b042cdf420
  dev/bench/data.js
Due: none

feat(python): improve performance of python 24 day 20 (#267)
  python/aoc24/day20/part_1.py
  python/aoc24/day20/part_2.py
  python/aoc24/day20/shared.py
  python/aoc24/day20/test_part_1.py
  python/aoc24/day20/test_part_2.py
Due: Python

feat(python): improve performance of python 24 day 09
  python/aoc24/day09/part_1.py
  python/aoc24/day09/part_2.py
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for c84b97a11a58615690945ae6399ca8958e0c9e9d
  dev/bench/data.js
Due: none

feat(python): improve performance of python 24 day 09 (#268)
  python/aoc24/day09/part_1.py
  python/aoc24/day09/part_2.py
Due: Python

feat(python): improve performance of python 24 day 06
  python/README.md
  python/aoc24/day06/part_1.py
  python/aoc24/day06/part_2.py
Due: Python

style(python): yapf is yapping
  python/aoc24/day06/part_2.py
Due: Python

feat(python): improve performance of python 24 day 06 (#269)
  python/README.md
  python/aoc24/day06/part_1.py
  python/aoc24/day06/part_2.py
Due: Python

feat(python): add tqdm as dependency
  python/requirements.txt
Due: Python

style(python): yapf is yapping
  python/cmd/cmd_benchmark.py
  python/cmd/cmd_list.py
  python/cmd/const.py
Due: Python

feat(python): extended cli options
  python/aoc.py
  python/cmd/__init__.py
  python/cmd/cli_output.py
  python/cmd/cmd_benchmark.py
  python/cmd/cmd_list.py
  python/cmd/cmd_parser.py
  python/cmd/collect_solvers.py
  python/cmd/const.py
Due: Python

feat(python): extended cli options (#270)
  python/aoc.py
  python/cmd/__init__.py
  python/cmd/cli_output.py
  python/cmd/cmd_benchmark.py
  python/cmd/cmd_list.py
  python/cmd/cmd_parser.py
  python/cmd/collect_solvers.py
  python/cmd/const.py
  python/requirements.txt
Due: Python

perf(python): improve year 24 day 22
  python/aoc24/day22/part_1.py
  python/aoc24/day22/part_2.py
  python/aoc24/day22/shared.py
Due: Python

perf(python): improve year 24 day 22 (#271)
  python/aoc24/day22/part_1.py
  python/aoc24/day22/part_2.py
  python/aoc24/day22/shared.py
Due: Python

perf(python): improve year 24 day 16
  python/aoc24/day16/part_1.py
  python/aoc24/day16/part_2.py
  python/aoc24/day16/shared.py
Due: Python

perf(python): improve year 24 day 16 (#272)
  python/aoc24/day16/part_1.py
  python/aoc24/day16/part_2.py
  python/aoc24/day16/shared.py
Due: Python

perf(python): improve python year 24 day 07
  python/aoc24/day07/part_1.py
  python/aoc24/day07/part_2.py
  python/aoc24/day07/shared.py
Due: Python

perf(python): improve python year 24 day 07 (#273)
  python/aoc24/day07/part_1.py
  python/aoc24/day07/part_2.py
  python/aoc24/day07/shared.py
Due: Python

perf(python): improve python year 24 day 12
  python/aoc24/day12/part_1.py
  python/aoc24/day12/part_2.py
  python/aoc24/day12/shared.py
  python/aoc24/day12/test_shared.py
Due: Python

chore(python): add mypy
  python/pyproject.toml
  python/requirements_test.txt
Due: Python

ci(github): add mypy test to python workflow
  .github/workflows/tests.yml
Due: none

style(python): fix mypy aoc 24 day 06 issues
  python/aoc24/day06/part_2.py
Due: Python

style(python): fix mypy aoc 24 day 14 issues
  python/aoc24/day14/part_1.py
  python/aoc24/day14/part_2.py
Due: Python

Path conditions:
  Python: any of: python/**, but not: python/**/test_*.py
  GO: any of: go/**, but not: python/**/test_*.py
  CPP: any of: cpp/**, but not: python/**/test_*.py
  C: any of: c/**, but not: python/**/test_*.py
