Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO, CPP

add Go Benchmark (customSmallerIsBetter) benchmark result for 02db535f039bc24959bb01c53f5801fbfa90fc88
  dev/bench/data.js
Due: none

style(python): yapf is yapping
  python/aoc25/day02/find_repeated_blocks.py
  python/aoc25/day02/part_1.py
  python/aoc25/day02/part_2.py
Due: Python

feat(python): add year25 day02
  python/aoc25/day02/__init__.py
  python/aoc25/day02/find_repeated_blocks.py
  python/aoc25/day02/parse_input.py
  python/aoc25/day02/part_1.py
  python/aoc25/day02/part_2.py
  python/aoc25/day02/test_part_1.py
  python/aoc25/day02/test_part_2.py
Due: Python

test(python): fix test case
  python/aoc25/day02/test_part_1.py
Due: none

feat(python): add year25 day02 (#208)
  python/aoc25/day02/__init__.py
  python/aoc25/day02/find_repeated_blocks.py
  python/aoc25/day02/parse_input.py
  python/aoc25/day02/part_1.py
  python/aoc25/day02/part_2.py
  python/aoc25/day02/test_part_1.py
  python/aoc25/day02/test_part_2.py
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for 3c40b68cd8191c4814149b12501a977dbfb470b5
  dev/bench/data.js
Due: none

feat(go): add year25 day04
  go/aoc25/day04/parse_input.go
  go/aoc25/day04/parse_input_test.go
  go/aoc25/day04/part_1.go
  go/aoc25/day04/part_1_test.go
  go/aoc25/day04/part_2.go
  go/aoc25/day04/part_2_test.go
  go/aoc25/day04/sample.txt
Due: GO

feat(go): add year25 day04 (#209)
  go/aoc25/day04/parse_input.go
  go/aoc25/day04/parse_input_test.go
  go/aoc25/day04/part_1.go
  go/aoc25/day04/part_1_test.go
  go/aoc25/day04/part_2.go
  go/aoc25/day04/part_2_test.go
  go/aoc25/day04/sample.txt
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 96adcb59d2957823938fd4c8ac99781ee0672f79
  dev/bench/data.js
Due: none

feat(python): add year25 day07
  python/aoc25/day07/__init__.py
  python/aoc25/day07/parse_input.py
  python/aoc25/day07/part_1.py
  python/aoc25/day07/part_2.py
  python/aoc25/day07/test_part_1.py
  python/aoc25/day07/test_part_2.py
Due: Python

test(python): fix test case
  python/aoc25/day06/test_part_1.py
  python/aoc25/day06/test_part_2.py
  python/aoc25/day07/test_part_1.py
  python/aoc25/day07/test_part_2.py
Due: none

feat(python): add year25 day07 (#210)
  python/aoc25/day06/test_part_1.py
  python/aoc25/day07/__init__.py
  python/aoc25/day07/parse_input.py
  python/aoc25/day07/part_1.py
  python/aoc25/day07/part_2.py
  python/aoc25/day07/test_part_1.py
  python/aoc25/day07/test_part_2.py
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for 07116256db207ed469fc96b823e4bd50afee4342
  dev/bench/data.js
Due: none

feat(go): add year25 day07
  go/aoc25/day07/parse_input.go
  go/aoc25/day07/parse_input_test.go
  go/aoc25/day07/part_1.go
  go/aoc25/day07/part_1_test.go
  go/aoc25/day07/part_2.go
  go/aoc25/day07/part_2_test.go
  go/aoc25/day07/sample.txt
Due: GO

feat(go): add year25 day07 (#211)
  go/aoc25/day07/parse_input.go
  go/aoc25/day07/parse_input_test.go
  go/aoc25/day07/part_1.go
  go/aoc25/day07/part_1_test.go
  go/aoc25/day07/part_2.go
  go/aoc25/day07/part_2_test.go
  go/aoc25/day07/sample.txt
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 496de0d5bf8767c0fb9a39771cc880b3b19147a4
  dev/bench/data.js
Due: none

feat(go): add year25 day07 improvements
  go/aoc25/day07/part_1.go
  go/aoc25/day07/part_2.go
Due: GO

feat(go): add year25 day07 improvements
  go/aoc25/day07/parse_input.go
  go/aoc25/day07/parse_input_test.go
  go/aoc25/day07/part_1.go
  go/aoc25/day07/part_2.go
Due: GO

feat(go): add year 25 day07 improvements (#212)
  go/aoc25/day07/parse_input.go
  go/aoc25/day07/parse_input_test.go
  go/aoc25/day07/part_1.go
  go/aoc25/day07/part_2.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 9ac92daa262cabe1f599329b637f0266478d55ec
  dev/bench/data.js
Due: none

ci(github): update test data
  data.tar.gz.gpg
Due: none

ci(github): update test data
  .github/workflows/tests.yml
Due: none

ci(github): update test data
  data.tar.gz.gpg
  decrypt_data.sh
  encrypt_data.sh
Due: none

ci(github): update test data
  go/aoc23/day24/find_collisions_test.go
Due: GO

ci(github): add full data tests (#213)
  .github/workflows/tests.yml
  data.tar.gz.gpg
  decrypt_data.sh
  encrypt_data.sh
  go/aoc23/day24/find_collisions_test.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 71f955c0405b2e79335eb79b1067fc422dc00cf7
  dev/bench/data.js
Due: none

feat(go): add year25 day02
  go/aoc24/day11/part_1.go
  go/aoc25/day02/find_repeated_blocks.go
  go/aoc25/day02/parse_input.go
  go/aoc25/day02/parse_input_test.go
  go/aoc25/day02/part_1.go
  go/aoc25/day02/part_1_test.go
  go/aoc25/day02/part_2.go
  go/aoc25/day02/part_2_test.go
  go/aoc25/day02/sample.txt
  go/aoc_utils/math/log/log10_int.go
  go/aoc_utils/math/log/log10_int_test.go
Due: GO

feat(go): add year25 day02 (#214)
  go/aoc24/day11/part_1.go
  go/aoc25/day02/find_repeated_blocks.go
  go/aoc25/day02/parse_input.go
  go/aoc25/day02/parse_input_test.go
  go/aoc25/day02/part_1.go
  go/aoc25/day02/part_1_test.go
  go/aoc25/day02/part_2.go
  go/aoc25/day02/part_2_test.go
  go/aoc25/day02/sample.txt
  go/aoc_utils/math/log/log10_int.go
  go/aoc_utils/math/log/log10_int_test.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for b2a1f4a8be2acd715fef9160b79a5adfa2a068c1
  dev/bench/data.js
Due: none

refactor(go): move math int tools
  go/aoc23/day08/part_2.go
  go/aoc23/day20/part_2.go
  go/aoc24/day01/part_1.go
  go/aoc24/day02/part_1.go
  go/aoc24/day07/part_2.go
  go/aoc24/day11/part_1.go
  go/aoc24/day12/part_2.go
  go/aoc24/day17/part_1.go
  go/aoc24/day17/part_2.go
  go/aoc24/day21/directional.go
  go/aoc25/day01/part_2.go
  go/aoc25/day02/find_repeated_blocks.go
  go/aoc_utils/byte_field.go
  go/aoc_utils/bytes/byte_sequence_to_int.go
  go/aoc_utils/bytes/parse_int_from_byte.go
  go/aoc_utils/bytes/parse_int_sequence.go
  go/aoc_utils/int_util/abs_int.go
  go/aoc_utils/int_util/gcd_int.go
  go/aoc_utils/int_util/gcd_int_test.go
  go/aoc_utils/int_util/int_type.go
  go/aoc_utils/int_util/lcm_int.go
  go/aoc_utils/int_util/lcm_int_test.go
  go/aoc_utils/int_util/log10_int.go
  go/aoc_utils/int_util/log10_int_test.go
  go/aoc_utils/int_util/pow_int.go
  go/aoc_utils/math/abs/abs_int.go
  go/aoc_utils/math/gcd/gcd_int.go
  go/aoc_utils/math/interval.go
  go/aoc_utils/math/lcm/lcm_int.go
  go/aoc_utils/math/log/log10_int.go
Due: GO

refactor(go): move math int tools (#215)
  go/aoc23/day08/part_2.go
  go/aoc23/day20/part_2.go
  go/aoc24/day01/part_1.go
  go/aoc24/day02/part_1.go
  go/aoc24/day07/part_2.go
  go/aoc24/day11/part_1.go
  go/aoc24/day12/part_2.go
  go/aoc24/day17/part_1.go
  go/aoc24/day17/part_2.go
  go/aoc24/day21/directional.go
  go/aoc25/day01/part_2.go
  go/aoc25/day02/find_repeated_blocks.go
  go/aoc_utils/byte_field.go
  go/aoc_utils/bytes/byte_sequence_to_int.go
  go/aoc_utils/bytes/parse_int_from_byte.go
  go/aoc_utils/bytes/parse_int_sequence.go
  go/aoc_utils/int_util/abs_int.go
  go/aoc_utils/int_util/gcd_int.go
  go/aoc_utils/int_util/gcd_int_test.go
  go/aoc_utils/int_util/int_type.go
  go/aoc_utils/int_util/lcm_int.go
  go/aoc_utils/int_util/lcm_int_test.go
  go/aoc_utils/int_util/log10_int.go
  go/aoc_utils/int_util/log10_int_test.go
  go/aoc_utils/int_util/pow_int.go
  go/aoc_utils/math/abs/abs_int.go
  go/aoc_utils/math/gcd/gcd_int.go
  go/aoc_utils/math/interval.go
  go/aoc_utils/math/lcm/lcm_int.go
  go/aoc_utils/math/log/log10_int.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for cb33b8341661b6753a0627d10178cfbc4af23deb
  dev/bench/data.js
Due: none

feat(python): add year25 day11
  python/aoc25/day11/__init__.py
  python/aoc25/day11/part_1.py
  python/aoc25/day11/part_2.py
  python/aoc25/day11/test_part_1.py
  python/aoc25/day11/test_part_2.py
Due: Python

style(python): yapf is yapping
  python/aoc25/day11/part_1.py
  python/aoc25/day11/part_2.py
  python/aoc25/day11/test_part_2.py
Due: Python

feat(python): add year25 day11 (#216)
  python/aoc25/day11/__init__.py
  python/aoc25/day11/part_1.py
  python/aoc25/day11/part_2.py
  python/aoc25/day11/test_part_1.py
  python/aoc25/day11/test_part_2.py
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for c80cfb1c5d361a3852f05beb968cf0d0f6a21880
  dev/bench/data.js
Due: none

fix(python): remove unused args
  python/aoc25/day11/part_2.py
Due: Python

style(python): yapf is yapping
  python/aoc25/day11/part_2.py
Due: Python

Path conditions:
  Python: any of: python/**, but not: python/**/test_*.py
  GO: any of: go/**, but not: python/**/test_*.py
  CPP: any of: cpp/**, but not: python/**/test_*.py
