Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO, CPP

test(go): add tests for solve timeout
  go/cmd/aoc/solve_test.go
Due: GO

feat(go): add timeout to solve command (#233)
  go/cmd/aoc/solve.go
  go/cmd/aoc/solve_test.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for b9deb642a592ee9b62cf15b7ba7d4c381e969923
  dev/bench/data.js
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for fac0c555fe3b7021bd04343691d9ffbb64435eb0
  dev/bench/data.js
Due: none

chore: add test base data
  test/data.json
  test/data/.gitignore
  test/data/samples/24/04_sample.txt
  test/data/samples/24/05_sample.txt
  test/data/samples/24/06_sample.txt
  test/data/samples/24/07_sample.txt
  test/data/samples/24/08_sample_1.txt
  test/data/samples/24/08_sample_2.txt
  test/data/samples/24/12_sample.txt
  test/data/samples/24/13_sample.txt
  test/data/samples/24/14_sample.txt
  test/data/samples/24/15_sample_large.txt
  test/data/samples/24/15_sample_small.txt
  test/data/samples/24/16_sample_1.txt
  test/data/samples/24/16_sample_2.txt
  test/data/samples/24/17_sample_1.txt
  test/data/samples/24/17_sample_2.txt
  test/data/samples/24/20_sample.txt
  test/data/samples/24/23_sample.txt
  test/test_schema.json
Due: none

feat(test): add test generator
  .github/workflows/tests.yml
  test/README.md
  test/go/generated_test.go.tmpl
  test/python/test_generated.py.tmpl
  test/testgen/config.json
  test/testgen/gen_go.go
  test/testgen/gen_python.go
  test/testgen/generator.go
  test/testgen/go.mod
  test/testgen/main.go
  test/testgen/model.go
Due: none

ci(github): update test workflow
  .github/workflows/tests.yml
Due: none

ci(github): update workflow name from sample text
  .github/workflows/tests.yml
Due: none

style(python): make the snakes pretty
  python/aoc24/day01/test_generated.py
  python/aoc24/day02/test_generated.py
  python/aoc24/day03/test_generated.py
  python/aoc24/day04/test_generated.py
  python/aoc24/day05/test_generated.py
  python/aoc24/day06/test_generated.py
  python/aoc24/day07/test_generated.py
  python/aoc24/day08/test_generated.py
  python/aoc24/day09/test_generated.py
  python/aoc24/day10/test_generated.py
  python/aoc24/day11/test_generated.py
  python/aoc24/day12/test_generated.py
  python/aoc24/day13/test_generated.py
  python/aoc24/day14/test_generated.py
  python/aoc24/day15/test_generated.py
  python/aoc24/day16/test_generated.py
  python/aoc24/day17/test_generated.py
  python/aoc24/day18/test_generated.py
  python/aoc24/day19/test_generated.py
  python/aoc24/day20/test_generated.py
  python/aoc24/day21/test_generated.py
  python/aoc24/day22/test_generated.py
  python/aoc24/day23/test_generated.py
Due: none

test: fix base test data
  go/aoc24/day16/generated_test.go
  test/data.json
  test/data/samples/24/17_sample_2.txt
Due: GO

style: add format method
  test/testgen/gen_go.go
  test/testgen/gen_python.go
  test/testgen/generator.go
Due: none

style: add formated files
  go/aoc24/day01/generated_test.go
  go/aoc24/day02/generated_test.go
  go/aoc24/day03/generated_test.go
  go/aoc24/day04/generated_test.go
  go/aoc24/day05/generated_test.go
  go/aoc24/day06/generated_test.go
  go/aoc24/day07/generated_test.go
  go/aoc24/day08/generated_test.go
  go/aoc24/day09/generated_test.go
  go/aoc24/day10/generated_test.go
  go/aoc24/day11/generated_test.go
  go/aoc24/day12/generated_test.go
  go/aoc24/day13/generated_test.go
  go/aoc24/day14/generated_test.go
  go/aoc24/day15/generated_test.go
  go/aoc24/day16/generated_test.go
  go/aoc24/day17/generated_test.go
  go/aoc24/day18/generated_test.go
  go/aoc24/day19/generated_test.go
  go/aoc24/day20/generated_test.go
  go/aoc24/day21/generated_test.go
  go/aoc24/day22/generated_test.go
  go/aoc24/day23/generated_test.go
Due: GO

ci(github): add python/yapf to pre test
  .github/workflows/tests.yml
Due: none

test(python): fix a lot of small issues
  python/aoc24/day01/test_generated.py
  python/aoc24/day02/test_generated.py
  python/aoc24/day03/test_generated.py
  python/aoc24/day04/test_generated.py
  python/aoc24/day05/test_generated.py
  python/aoc24/day06/part_1.py
  python/aoc24/day06/part_2.py
  python/aoc24/day06/test_generated.py
  python/aoc24/day07/test_generated.py
  python/aoc24/day08/test_generated.py
  python/aoc24/day09/test_generated.py
  python/aoc24/day10/test_generated.py
  python/aoc24/day11/test_generated.py
  python/aoc24/day12/test_generated.py
  python/aoc24/day13/test_generated.py
  python/aoc24/day14/part_1.py
  python/aoc24/day14/part_2.py
  python/aoc24/day14/test_generated.py
  python/aoc24/day14/test_part_1.py
  python/aoc24/day14/test_part_2.py
  python/aoc24/day15/test_generated.py
  python/aoc24/day16/test_generated.py
  python/aoc24/day17/test_generated.py
  python/aoc24/day18/part_2.py
  python/aoc24/day18/test_generated.py
  python/aoc24/day18/test_part_1.py
  python/aoc24/day18/test_part_2.py
  python/aoc24/day19/test_generated.py
  python/aoc24/day20/test_generated.py
  python/aoc24/day21/test_generated.py
  python/aoc24/day22/test_generated.py
  python/aoc24/day23/test_generated.py
  python/test_utils/__init__.py
Due: Python

style(python): yapf is yapping
  python/aoc24/day06/part_2.py
  python/aoc24/day14/part_1.py
Due: Python

style(python): yapf is yapping
  go/aoc24/day11/generated_test.go
  go/aoc24/day14/generated_test.go
  go/aoc24/day18/generated_test.go
  go/aoc24/day23/generated_test.go
  test/data.json
  test/python/test_generated.py.tmpl
Due: GO

chore: update json_schema def
  test/test_schema.json
Due: none

feat(go): add count_digits to int_utils
  go/aoc_utils/int_util/count_digits.go
Due: GO

feat(go): update several go methods
  go/aoc24/day11/part_1.go
  go/aoc24/day11/part_1_test.go
  go/aoc24/day14/generated_test.go
  go/aoc24/day14/part_1.go
  go/aoc24/day18/generated_test.go
  go/aoc24/day18/part_2.go
  go/aoc24/day18/part_test.go
  go/aoc24/day23/generated_test.go
  go/aoc24/day23/part_2.go
Due: GO

chore(testgen): update config definitions
  test/data.json
  test/test_schema.json
  test/testgen/gen_go.go
  test/testgen/gen_python.go
  test/testgen/generator.go
  test/testgen/main.go
  test/testgen/model.go
Due: none

fix(python): update python test
  python/aoc24/day14/test_generated.py
Due: none

ci(github): update full data workflow
  .github/workflows/tests.yml
  data.tar.gz.gpg
  decrypt_data.sh
  encrypt_data.sh
  test/data.tar.gz.gpg
  test/decrypt_data.sh
  test/encrypt_data.sh
Due: none

ci(github): fix script path
  .github/workflows/tests.yml
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 334b63f0e49025a7e7c90e52fedd27371df30e9c
  dev/bench/data.js
Due: none

ci(github): add cpp test reporting
  .github/workflows/tests.yml
Due: none

ci(github): add cpp test reporting (#237)
  .github/workflows/tests.yml
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 90d4f3b95f833899c677957c16ac89784cee9b2f
  dev/bench/data.js
Due: none

feat(cpp): add aoc24 day 03
  cpp/src/aoc24/aoc24.cpp
  cpp/src/aoc24/aoc24.h
  cpp/src/aoc24/day03/day03.h
  cpp/src/aoc24/day03/part_1.cpp
  cpp/src/aoc24/day03/part_2.cpp
Due: CPP

feat(cpp): add aoc24 day 03
  cpp/src/aoc24/aoc24.cpp
Due: CPP

feat(cpp): add aoc24 day 03 (#238)
  cpp/src/aoc24/aoc24.cpp
  cpp/src/aoc24/aoc24.h
  cpp/src/aoc24/day03/day03.h
  cpp/src/aoc24/day03/part_1.cpp
  cpp/src/aoc24/day03/part_2.cpp
Due: CPP

add Go Benchmark (customSmallerIsBetter) benchmark result for 7c0f210711c7d537c93e53251f463889a2041737
  dev/bench/data.js
Due: none

test(cpp): add testgen definitions
  cpp/test/CMakeLists.txt
  cpp/test/aoc24/day01/generated_test.cpp
  cpp/test/aoc24/day02/generated_test.cpp
  test/cpp/generated_test.cpp.tmpl
  test/testgen/config.json
  test/testgen/gen_cpp.go
  test/testgen/gen_go.go
  test/testgen/gen_python.go
  test/testgen/generator.go
  test/testgen/main.go
  test/testgen/model.go
Due: CPP

test(cpp): update generate test file
  cpp/test/aoc24/day03/generated_test.cpp
Due: CPP

Path conditions:
  Python: any of: python/**, but not: python/**/test_*.py
  GO: any of: go/**, but not: python/**/test_*.py
  CPP: any of: cpp/**, but not: python/**/test_*.py
