Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO, CPP, C

feat(python): add year 24 day 7 improvements (#299)
  python/aoc24/day07/part_1.py
  python/aoc24/day07/part_2.py
  python/aoc24/day07/shared.py
Due: Python

Update benchmarks [skip ci] c78379b3a704510c5a20dfb587ae1b699ec41128
  data.json
Due: none

feat(python): add year 23 day 02 improvements (#298)
  python/aoc23/day02/part_1.py
  python/aoc23/day02/part_2.py
  python/aoc23/day02/shared.py
Due: Python

feat(python): add year 24 day 17 improvements
  python/aoc24/day17/part_2.py
Due: Python

Update benchmarks [skip ci] 9290c1c63b6041f3df94ae110b59f410199c671b
  data.json
Due: none

feat(python): add year 24 day 17 improvements (#300)
  python/aoc24/day17/part_2.py
Due: Python

Update benchmarks [skip ci] 57696ad3e60b8195caf853640a0b6b428ee7430e
  data.json
Due: none

perf(python): improve python year 24 day 20
  python/aoc24/day20/part_1.py
  python/aoc24/day20/part_2.py
  python/aoc24/day20/shared.py
  python/util/typed_coord.py
Due: Python

perf(python): improve python year 24 day 20 (#301)
  python/aoc24/day20/part_1.py
  python/aoc24/day20/part_2.py
  python/aoc24/day20/shared.py
  python/util/typed_coord.py
Due: Python

Update benchmarks [skip ci] a7677dfca237372ad91c0b879160b97a885eaa78
  data.json
Due: none

perf(python): improve python year 24 day 22
  python/aoc24/day22/part_1.py
  python/aoc24/day22/part_2.py
  python/aoc24/day22/shared.py
Due: Python

ci(github): bump python to version 3.14
  .github/workflows/tests.yml
Due: none

ci(github): bump python to version 3.14 (#303)
  .github/workflows/tests.yml
Due: none

feat(python): remove numpy year 24 day 14
  python/aoc24/day14/part_1.py
  python/aoc24/day14/part_2.py
  python/aoc24/day14/shared.py
Due: Python

Update benchmarks [skip ci] 19a80ea2dc64187e7e04986babd002e3169a9284
  data.json
Due: none

feat(python): add year 24 day 08
  python/aoc23/day08/__init__.py
  python/aoc23/day08/part_1.py
  python/aoc23/day08/part_2.py
  python/aoc23/day08/shared.py
Due: Python

feat(python): add year 24 day 08 (#305)
  python/aoc23/day08/__init__.py
  python/aoc23/day08/part_1.py
  python/aoc23/day08/part_2.py
  python/aoc23/day08/shared.py
Due: Python

Update benchmarks [skip ci] b8c56123271ec2fb1803d412e8379d8a0ea8e891
  data.json
Due: none

feat(python): remove numpy year 24 day 14 (#304)
  python/aoc24/day14/part_1.py
  python/aoc24/day14/part_2.py
  python/aoc24/day14/shared.py
Due: Python

Update benchmarks [skip ci] 1645a134af9cde344de695528243c33e9b874ffa
  data.json
Due: none

perf(python): improve python year 24 day 22 (#302)
  python/aoc24/day22/part_1.py
  python/aoc24/day22/part_2.py
  python/aoc24/day22/shared.py
Due: Python

Update benchmarks [skip ci] 4b3f6cbb82d7643611e19c4f637ba94cc202021f
  data.json
Due: none

perf(python): improve python year 24 day 09 part 1
  python/aoc24/day09/part_1.py
  python/aoc24/day09/shared.py
Due: Python

perf(python): improve python year 24 day 09 part 2
  python/aoc24/day09/part_2.py
Due: Python

style(python): fix ruff issues
  python/aoc24/day09/part_1.py
  python/aoc24/day09/part_2.py
  python/aoc24/day09/shared.py
Due: Python

Update benchmarks [skip ci] abd72bd920614c6180c19d138f468f9fd8e76885
  data.json
Due: none

perf(python): improve python year 24 day 09 (#306)
  python/aoc24/day09/part_1.py
  python/aoc24/day09/part_2.py
  python/aoc24/day09/shared.py
Due: Python

Update benchmarks [skip ci] 34dd52732fb332ca1cd9f1bac111761645522fdb
  data.json
Due: none

feat(python): setup pytest benchmark
  python/cmd/__init__.py
  python/cmd/cli_output.py
  python/cmd/cmd_benchmark.py
  python/cmd/cmd_list.py
  python/cmd/cmd_parser.py
  python/cmd/collect_solvers.py
  python/cmd/const.py
  python/cmd/get_part.py
  python/cmd/testdata.py
  python/conftest.py
  python/test_benchmark.py
Due: Python

chore(python): rename cmd package to commands
  python/aoc.py
  python/commands/__init__.py
  python/commands/cli_output.py
  python/commands/cmd_benchmark.py
  python/commands/cmd_list.py
  python/commands/cmd_parser.py
  python/commands/collect_solvers.py
  python/commands/const.py
  python/commands/get_part.py
  python/commands/testdata.py
Due: Python

chore(python): remove cmd
  python/cmd/__init__.py
  python/cmd/cli_output.py
  python/cmd/cmd_benchmark.py
  python/cmd/cmd_list.py
  python/cmd/cmd_parser.py
  python/cmd/collect_solvers.py
  python/cmd/const.py
  python/cmd/get_part.py
  python/cmd/testdata.py
Due: Python

feat(python): add year 23 day 09
  python/aoc23/day09/__init__.py
  python/aoc23/day09/part_1.py
  python/aoc23/day09/part_2.py
  python/aoc23/day09/shared.py
Due: Python

chore(python): rename cmd package to commands (#308)
  python/aoc.py
  python/commands/__init__.py
  python/commands/cli_output.py
  python/commands/cmd_benchmark.py
  python/commands/cmd_list.py
  python/commands/cmd_parser.py
  python/commands/collect_solvers.py
  python/commands/const.py
  python/commands/get_part.py
  python/commands/testdata.py
Due: Python

Update benchmarks [skip ci] c397768a24f6cf552624785cb153162cea1418ea
  data.json
Due: none

feat(python): add year 23 day 09 (#310)
  python/aoc23/day09/__init__.py
  python/aoc23/day09/part_1.py
  python/aoc23/day09/part_2.py
  python/aoc23/day09/shared.py
Due: Python

Update benchmarks [skip ci] 971d2044957f9af9ecbe957d8d3f81a59499b4ad
  data.json
Due: none

feat(cpp): add cpp benchmarking
  .github/workflows/tests.yml
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/bench/bench_main.cpp
  cpp/convert_benchmark.py
Due: CPP

feat(cpp): add cpp benchmarking (#311)
  .github/workflows/tests.yml
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/bench/bench_main.cpp
  cpp/convert_benchmark.py
Due: CPP

chore(cpp): bump googletest to v1.15.2
  cpp/CMakeLists.txt
Due: CPP

Update benchmarks [skip ci] 05bcef019a472fab956db1b9e037a3db3ec66a68
  data.json
Due: none

Path conditions:
  Python: any of: python/**, but not: python/**/test_*.py
  GO: any of: go/**, but not: python/**/test_*.py
  CPP: any of: cpp/**, but not: python/**/test_*.py
  C: any of: c/**, but not: python/**/test_*.py
