Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO, CPP, C

perf(go): improve performance of year 24 day 09 (#336)
  go/aoc24/day09/part_1.go
  go/aoc24/day09/part_1_test.go
  go/aoc24/day09/part_2.go
  go/aoc24/day09/part_2_test.go
Due: GO

Update benchmarks [skip ci] bbc4e9e268df90478bf7324f802cdbbca294265d
  data.json
Due: none

feat(cpp): add year 24 day 04
  cpp/src/aoc24/day04/day04.h
  cpp/src/aoc24/day04/part_1.cpp
  cpp/src/aoc24/day04/part_2.cpp
  cpp/test/aoc24/day04/generated_test.cpp
Due: CPP

chore(cpp): refactor cpp CMakeLists structure
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/test/CMakeLists.txt
Due: CPP

feat(cpp): add year 24 day 04 (#337)
  cpp/src/aoc24/day04/day04.h
  cpp/src/aoc24/day04/part_1.cpp
  cpp/src/aoc24/day04/part_2.cpp
  cpp/test/aoc24/day04/generated_test.cpp
Due: CPP

Update benchmarks [skip ci] 1d2ae140403bea70d717335d0ab142fb1453043d
  data.json
Due: none

chore(cpp): refactor cpp CMakeLists structure (#338)
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/test/CMakeLists.txt
Due: CPP

Update benchmarks [skip ci] fe3256ef37f653b0c1f8b151d46072bb035c3a06
  data.json
Due: none

fix(cpp): add missing year24day04 solver
  cpp/src/aoc24/aoc24.cpp
  cpp/src/aoc24/aoc24.h
Due: CPP

fix(cpp): add missing year24day04 solver (#339)
  cpp/src/aoc24/aoc24.cpp
  cpp/src/aoc24/aoc24.h
Due: CPP

Update benchmarks [skip ci] 44cfd82200963c259163b1fb975e33f7cd943614
  data.json
Due: none

feat(python): add year 23 day 05
  python/aoc23/day05/__init__.py
  python/aoc23/day05/part_1.py
  python/aoc23/day05/part_2.py
  python/aoc23/day05/shared.py
Due: Python

feat(python): add year 23 day 05 (#340)
  python/aoc23/day05/__init__.py
  python/aoc23/day05/part_1.py
  python/aoc23/day05/part_2.py
  python/aoc23/day05/shared.py
Due: Python

Update benchmarks [skip ci] 113532c221fdab793ff272104fa7dba68f9c0fb1
  data.json
Due: none

feat(cpp): add year 23 day 05 solution
  cpp/src/CMakeLists.txt
  cpp/src/aoc23/CMakeLists.txt
  cpp/src/aoc23/aoc23.cpp
  cpp/src/aoc23/aoc23.h
  cpp/src/aoc23/day05/day05.h
  cpp/src/aoc23/day05/part_1.cpp
  cpp/src/aoc23/day05/part_2.cpp
  cpp/src/aoc23/day05/shared.cpp
  cpp/src/main.cpp
  cpp/test/CMakeLists.txt
  cpp/test/aoc23/day05/generated_test.cpp
Due: CPP

feat(cpp): add carriage return fix
  cpp/src/aoc23/day05/shared.cpp
Due: CPP

feat(cpp): add year 23 day 05 solution (#341)
  cpp/src/CMakeLists.txt
  cpp/src/aoc23/CMakeLists.txt
  cpp/src/aoc23/aoc23.cpp
  cpp/src/aoc23/aoc23.h
  cpp/src/aoc23/day05/day05.h
  cpp/src/aoc23/day05/part_1.cpp
  cpp/src/aoc23/day05/part_2.cpp
  cpp/src/aoc23/day05/shared.cpp
  cpp/src/main.cpp
  cpp/test/CMakeLists.txt
  cpp/test/aoc23/day05/generated_test.cpp
Due: CPP

Update benchmarks [skip ci] 9118feff2c5f5aadc3767833febd730521ab4676
  data.json
Due: none

Update benchmarks [skip ci] 9ea20dd795d80875ab5be79e752252001a5629f8
  data.json
Due: none

chore(python): use pylock.toml
  .github/workflows/tests.yml
  python/pylock.toml
  python/pyproject.toml
Due: Python

ci(github): use editable mode
  .github/workflows/tests.yml
Due: none

chore(cpp): add aoc23 to benchmarks
  cpp/bench/CMakeLists.txt
  cpp/bench/bench_main.cpp
Due: CPP

chore(python): use pylock.toml (#342)
  .github/workflows/tests.yml
  python/pylock.toml
  python/pyproject.toml
Due: Python

Update benchmarks [skip ci] b8eb22e1d0473d76767d77bd3e30220d08499903
  data.json
Due: none

chore(cpp): add aoc23 to benchmarks (#343)
  cpp/bench/CMakeLists.txt
  cpp/bench/bench_main.cpp
Due: CPP

Update benchmarks [skip ci] df1eefb7c962a4adeecf54a82fe0c541904b272a
  data.json
Due: none

chore(c): add c benchmarking
  .github/workflows/tests.yml
  c/.gitignore
  c/CMakeLists.txt
  c/bench/CMakeLists.txt
  c/bench/bench_main.cpp
Due: C

chore(c): add c benchmarking (#344)
  .github/workflows/tests.yml
  c/.gitignore
  c/CMakeLists.txt
  c/bench/CMakeLists.txt
  c/bench/bench_main.cpp
Due: C

chore(c): fix c benchmarking
  .github/workflows/tests.yml
  cpp/convert_benchmark.py
Due: CPP

chore(c): fix wrongly labeled data in benchmarks (#345)
  .github/workflows/tests.yml
  cpp/convert_benchmark.py
Due: CPP

Update benchmarks [skip ci] 7b309b69bb865a2c3796072c32839cefd64c9ad3
  data.json
Due: none

feat(cpp): add year 23 day 01 solution
  cpp/src/aoc23/aoc23.cpp
  cpp/src/aoc23/aoc23.h
  cpp/src/aoc23/day01/day01.h
  cpp/src/aoc23/day01/part_1.cpp
  cpp/src/aoc23/day01/part_2.cpp
  cpp/src/aoc23/day01/shared.cpp
Due: CPP

test(cpp): add year 23 day 01 test file
  cpp/test/aoc23/day01/generated_test.cpp
Due: CPP

feat(cpp): add year 23 day 01 solution (#346)
  cpp/src/aoc23/aoc23.cpp
  cpp/src/aoc23/aoc23.h
  cpp/src/aoc23/day01/day01.h
  cpp/src/aoc23/day01/part_1.cpp
  cpp/src/aoc23/day01/part_2.cpp
  cpp/src/aoc23/day01/shared.cpp
  cpp/test/aoc23/day01/generated_test.cpp
Due: CPP

Path conditions:
  Python: any of: python/**, but not: python/**/test_*.py
  GO: any of: go/**, but not: python/**/test_*.py
  CPP: any of: cpp/**, but not: python/**/test_*.py
  C: any of: c/**, but not: python/**/test_*.py
