Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO, CPP

codecov.yml:

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 2%
  individual_components:
    - component_id: module_python # this is an identifier that should not be changed
      name: Python # this is a display name, and can be changed freely
      paths:
        - python/**
    - component_id: module_go
      name: GO
      paths:
        - go/**
    - component_id: module_cpp
      name: CPP
      paths:
        - cpp/**
comment: # this is a top-level key
  layout: " diff, flags, files"
  behavior: default
  require_changes: false # learn more in the Requiring Changes section below
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff]
ignore:
  - python/**/test_*.py
coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 2%
        base: auto 
        branches: 
          - main

fix(python): year 25 day 11 remove unused args (#217)
  python/aoc25/day11/part_2.py
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for f6ba769701176875fd374ca819f087efd59703ca
  dev/bench/data.js
Due: none

feat(go): add year 25 day 11
  go/aoc25/day11/parse_input.go
  go/aoc25/day11/parse_input_test.go
  go/aoc25/day11/part_1.go
  go/aoc25/day11/part_1_test.go
  go/aoc25/day11/part_2.go
  go/aoc25/day11/part_2_test.go
  go/aoc25/day11/sample.txt
  go/aoc25/day11/sample2.txt
Due: GO

feat(go): add year 25 day 11 (#218)
  go/aoc25/day11/parse_input.go
  go/aoc25/day11/parse_input_test.go
  go/aoc25/day11/part_1.go
  go/aoc25/day11/part_1_test.go
  go/aoc25/day11/part_2.go
  go/aoc25/day11/part_2_test.go
  go/aoc25/day11/sample.txt
  go/aoc25/day11/sample2.txt
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for cc99bebd8efaa99e0711c378d028de014c4e514a
  dev/bench/data.js
Due: none

ci(github): fix go build
  .github/workflows/tests.yml
Due: none

feat(go): add solver
  go/aoc_utils/registry.go
  go/main.go
  go/main_wasm.go
  go/solver.go
Due: GO

feat(go): add go wasi stuff
  go/.gitignore
  go/index.html
  go/main.go
  go/main_wasm.go
  go/solver.go
Due: GO

feat(go): seperate main into seperate solver (#219)
  .github/workflows/tests.yml
  go/.gitignore
  go/aoc_utils/registry.go
  go/index.html
  go/main.go
  go/main_wasm.go
  go/solver.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for e6d6fd00e811f07cd00f2460eda36e9dd8d8de19
  dev/bench/data.js
Due: none

feat(go): maybe fix export serrors for solver
  go/main.go
  go/main_wasm.go
  go/solver/solver.go
Due: GO

feat(go): maybe fix export serrors for solver (#220)
  .github/workflows/tests.yml
  go/main.go
  go/main_wasm.go
  go/solver/solver.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for aebb22b588fb7ccd45ea0334612db428d2dbd3b9
  dev/bench/data.js
Due: none

ci(github): add release please
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

ci(github): add release please (#223)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

chore(go): fix refactor
  go/aoc24/day03/part_1.go
  go/aoc24/day03/part_1_test.go
  go/aoc24/day03/part_2.go
  go/aoc24/day03/part_2_test.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 0314907cf48fb8d8c0e6a7577145490631739eac
  dev/bench/data.js
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 6240911576ef1c24bc51b2fa813517df390925b7
  dev/bench/data.js
Due: none

ci(github): use seperate release branches
  release-please-config.json
Due: none

ci(github): use seperate release branches (#225)
  release-please-config.json
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 5bf55c52b4fed7fcebafc1cd1e69c768e4b750f9
  dev/bench/data.js
Due: none

ci(github): use seperate release branches (#226)
  release-please-config.json
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for c53dfbad0c08496c44c32288ea4f8acd0aa14f27
  dev/bench/data.js
Due: none

ci(release-please): fix typo in config (#227)
  release-please-config.json
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 15941d92a59667797822e03b3b8a5d259d609742
  dev/bench/data.js
Due: none

ci(github): make test workflows manually runable
  .github/workflows/tests.yml
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 349d783d4a179e2e81bd6c511981691013fd991d
  dev/bench/data.js
Due: none

ci(github): make test workflows manually runable (#230)
  .github/workflows/tests.yml
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 3bb1094b27180918747f981eb225db8a1463a349
  dev/bench/data.js
Due: none

feat(go): add extended cli
  go/README.md
  go/cmd/aoc/base_cmd.go
  go/cmd/aoc/check.go
  go/cmd/aoc/check_test.go
  go/cmd/aoc/list.go
  go/cmd/aoc/list_test.go
  go/cmd/aoc/main.go
  go/cmd/aoc/main_test.go
  go/cmd/aoc/solve.go
  go/cmd/aoc/solve_test.go
  go/main.go
  go/solver/solver.go
Due: GO

ci(github): fix go build path command
  .github/workflows/tests.yml
Due: none

feat(go): add extended cli (#231)
  .github/workflows/tests.yml
  go/README.md
  go/cmd/aoc/base_cmd.go
  go/cmd/aoc/check.go
  go/cmd/aoc/check_test.go
  go/cmd/aoc/list.go
  go/cmd/aoc/list_test.go
  go/cmd/aoc/main.go
  go/cmd/aoc/main_test.go
  go/cmd/aoc/solve.go
  go/cmd/aoc/solve_test.go
  go/main.go
  go/solver/solver.go
Due: GO

feat(go): add timeout to solve command
  go/cmd/aoc/solve.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 03e5af716c2a86b45b0ce3958d3d7b849ff7b201
  dev/bench/data.js
Due: none
