Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO, CPP, C

codecov.yml:

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 2%
  individual_components:
    - component_id: module_python # this is an identifier that should not be changed
      name: Python # this is a display name, and can be changed freely
      paths:
        - python/**
    - component_id: module_go
      name: GO
      paths:
        - go/**
    - component_id: module_cpp
      name: CPP
      paths:
        - cpp/**
    - component_id: module_c
      name: C
      paths:
        - c/**
comment: # this is a top-level key
  layout: " diff, flags, files"
  behavior: default
  require_changes: false # learn more in the Requiring Changes section below
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff]
ignore:
  - python/**/test_*.py
coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 2%
        base: auto 
        branches: 
          - main

Update benchmarks [skip ci] 7c53783cb9b60847b994a4f54700e3c268e26f65
  data.json
Due: none

feat(python): add year 23 day 03
  python/aoc23/day03/__init__.py
  python/aoc23/day03/part_1.py
  python/aoc23/day03/part_2.py
  python/aoc23/day03/shared.py
Due: Python

feat(python): add year 23 day 03 (#291)
  python/aoc23/day03/__init__.py
  python/aoc23/day03/part_1.py
  python/aoc23/day03/part_2.py
  python/aoc23/day03/shared.py
Due: Python

feat(python): add year 23 day 04
  python/aoc23/day04/__init__.py
  python/aoc23/day04/part_1.py
  python/aoc23/day04/part_2.py
  python/aoc23/day04/shared.py
Due: Python

Update benchmarks [skip ci] 21f042d02f879438dec9fe70a879da09d09089f5
  data.json
Due: none

feat(python): add year 23 day 04 (#290)
  python/aoc23/day04/__init__.py
  python/aoc23/day04/part_1.py
  python/aoc23/day04/part_2.py
  python/aoc23/day04/shared.py
Due: Python

Update benchmarks [skip ci] e2140dffde6716080522667cd89ab679a7189d29
  data.json
Due: none

feat(python): add year 23 day 17
  python/aoc23/day17/__init__.py
  python/aoc23/day17/part_1.py
  python/aoc23/day17/part_2.py
  python/aoc23/day17/shared.py
Due: Python

feat(python): add year 23 day 17
  python/aoc23/day17/part_1.py
  python/aoc23/day17/part_2.py
  python/aoc23/day17/shared.py
  test/data.json
Due: Python

feat(python): add year 23 day 17
  python/util/__init__.py
  python/util/point.py
Due: Python

feat(python): add year 23 day 17
  go/aoc23/day17/generated_test.go
Due: GO

Update group_key values in data.json
  data.json
Due: none

feat(python): add year 23 day 17
  python/aoc23/day17/shared.py
Due: Python

feat(python): add year 23 day 17
  python/util/point.py
Due: Python

feat(python): add year 23 day 17 (#292)
  go/aoc23/day17/generated_test.go
  python/aoc23/day17/__init__.py
  python/aoc23/day17/part_1.py
  python/aoc23/day17/part_2.py
  python/aoc23/day17/shared.py
  python/util/__init__.py
  python/util/point.py
  test/data.json
Due: Python, GO

feat(python): add year 23 day 16
  python/aoc23/day16/__init__.py
  python/aoc23/day16/part_1.py
  python/aoc23/day16/part_2.py
  python/aoc23/day16/shared.py
Due: Python

style(python): fix styling
  python/aoc23/day16/part_2.py
Due: Python

Update benchmarks [skip ci] 8162f7404e3f574d8ccb3a1f57e52b73aa737f0d
  data.json
Due: none

feat(python): add year 23 day 16 (#293)
  python/aoc23/day16/__init__.py
  python/aoc23/day16/part_1.py
  python/aoc23/day16/part_2.py
  python/aoc23/day16/shared.py
Due: Python

Update benchmarks [skip ci] e5581701d2cd8892629b4ad4adb68a648188af07
  data.json
Due: none

feat(python): slightly improve year 24 day03
  python/aoc24/day03/part_1.py
  python/aoc24/day03/part_2.py
Due: Python

feat(python): slightly improve year 24 day03 (#294)
  python/aoc24/day03/part_1.py
  python/aoc24/day03/part_2.py
Due: Python

Update benchmarks [skip ci] 12f6693d98b283b9c0b56e9c001987945f041139
  data.json
Due: none

fix(python): add year 23 as option for cli
  python/cmd/const.py
Due: Python

fix(python): add year 23 as option for cli (#295)
  python/cmd/const.py
Due: Python

Update benchmarks [skip ci] 09f4e65af33abd402157161195145f38165e500c
  data.json
Due: none

feat(python): add year 23 day 06
  python/aoc23/day06/__init__.py
  python/aoc23/day06/part_1.py
  python/aoc23/day06/part_2.py
Due: Python

feat(python): add year 23 day 07
  python/aoc23/day07/__init__.py
  python/aoc23/day07/part_1.py
  python/aoc23/day07/part_2.py
Due: Python

feat(python): add year 23 day 06 (#296)
  python/aoc23/day06/__init__.py
  python/aoc23/day06/part_1.py
  python/aoc23/day06/part_2.py
Due: Python

Update benchmarks [skip ci] 957f7e48e91ad8f6f523bbcc0e37bbe943ff1980
  data.json
Due: none

feat(python): add year 23 day 02 improvements
  python/aoc23/day02/part_1.py
  python/aoc23/day02/part_2.py
  python/aoc23/day02/shared.py
Due: Python

feat(python): add year 23 day 07 (#297)
  python/aoc23/day07/__init__.py
  python/aoc23/day07/part_1.py
  python/aoc23/day07/part_2.py
Due: Python

Update benchmarks [skip ci] e71f7b50ad322630c7ae6296197df49b11eb2df2
  data.json
Due: none

feat(python): add year 24 day 07 improvements
  python/aoc24/day07/part_1.py
  python/aoc24/day07/part_2.py
  python/aoc24/day07/shared.py
Due: Python

style(python): fix ruff issues
  python/aoc24/day07/shared.py
Due: Python

style(python): fix ruff issues
  python/aoc23/day02/shared.py
Due: Python
