Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO, CPP

codecov.yml:

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 2%
  individual_components:
    - component_id: module_python # this is an identifier that should not be changed
      name: Python # this is a display name, and can be changed freely
      paths:
        - python/**
    - component_id: module_go
      name: GO
      paths:
        - go/**
    - component_id: module_cpp
      name: CPP
      paths:
        - cpp/**
comment: # this is a top-level key
  layout: " diff, flags, files"
  behavior: default
  require_changes: false # learn more in the Requiring Changes section below
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff]
ignore:
  - python/**/test_*.py
coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 2%
        base: auto 
        branches: 
          - main

test: add test data for year 25 day 03
  python/aoc25/day03/test_generated.py
  test/data.json
  test/data/samples/25/03_sample.txt
Due: none

test: add more test data
  test/data.json
  test/data/samples/25/01_sample.txt
  test/data/samples/25/02_sample.txt
  test/data/samples/25/04_sample.txt
  test/data/samples/25/05_sample.txt
  test/data/samples/25/06_sample.txt
  test/data/samples/25/07_sample.txt
  test/data/samples/25/11_sample.txt
  test/data/samples/25/11_sample2.txt
  test/test_schema.json
Due: none

test: skip test generation on missing target dirs
  test/testgen/generator.go
Due: none

test(python): update test cases
  python/aoc25/day01/test_generated.py
  python/aoc25/day01/test_part_1.py
  python/aoc25/day01/test_part_2.py
  python/aoc25/day02/test_generated.py
  python/aoc25/day02/test_part_1.py
  python/aoc25/day02/test_part_2.py
  python/aoc25/day03/test_part_1.py
  python/aoc25/day03/test_part_2.py
  python/aoc25/day04/test_generated.py
  python/aoc25/day04/test_part_1.py
  python/aoc25/day04/test_part_2.py
  python/aoc25/day05/test_generated.py
  python/aoc25/day05/test_part_1.py
  python/aoc25/day05/test_part_2.py
  python/aoc25/day06/test_generated.py
  python/aoc25/day06/test_part_1.py
  python/aoc25/day06/test_part_2.py
  python/aoc25/day07/test_generated.py
  python/aoc25/day07/test_part_1.py
  python/aoc25/day07/test_part_2.py
  python/aoc25/day11/test_generated.py
  python/aoc25/day11/test_part_1.py
  python/aoc25/day11/test_part_2.py
Due: none

test(go): update test cases for go in y25
  go/aoc25/day01/generated_test.go
  go/aoc25/day01/part_1_test.go
  go/aoc25/day01/part_2_test.go
  go/aoc25/day01/sample.txt
  go/aoc25/day02/generated_test.go
  go/aoc25/day02/parse_input_test.go
  go/aoc25/day02/part_1_test.go
  go/aoc25/day02/part_2_test.go
  go/aoc25/day02/sample.txt
  go/aoc25/day04/generated_test.go
  go/aoc25/day04/parse_input_test.go
  go/aoc25/day04/part_1_test.go
  go/aoc25/day04/part_2_test.go
  go/aoc25/day04/sample.txt
  go/aoc25/day05/generated_test.go
  go/aoc25/day05/parse_input_test.go
  go/aoc25/day05/part_1_test.go
  go/aoc25/day05/part_2_test.go
  go/aoc25/day05/sample.txt
  go/aoc25/day06/generated_test.go
  go/aoc25/day06/part_1_test.go
  go/aoc25/day06/part_2.go
  go/aoc25/day06/part_2_test.go
  go/aoc25/day06/sample.txt
  go/aoc25/day07/generated_test.go
  go/aoc25/day07/parse_input_test.go
  go/aoc25/day07/part_1_test.go
  go/aoc25/day07/part_2_test.go
  go/aoc25/day07/sample.txt
  go/aoc25/day11/generated_test.go
  go/aoc25/day11/parse_input_test.go
  go/aoc25/day11/part_1_test.go
  go/aoc25/day11/part_2_test.go
  go/aoc25/day11/sample.txt
  go/aoc25/day11/sample2.txt
Due: GO

test: fix base test data
  python/aoc24/day13/part_2.py
  python/aoc25/day03/test_generated.py
  test/data.json
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for 6509fbb65c4b303fa369a85dc8ce07e0f563da88
  dev/bench/data.js
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for aa5174d96cfd05a9bfc139e408190d657bae14aa
  dev/bench/data.js
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 1fdcf7a1b298928a981ea261254c49851621d38d
  dev/bench/data.js
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 24e30c1676be1cdf67a4ae5d8db03153998d1367
  dev/bench/data.js
Due: none

test(cpp): fix issue with cpp coverage reporting
  cpp/CMakeLists.txt
Due: CPP

test(cpp): fix issue with cpp coverage reporting (#242)
  cpp/CMakeLists.txt
Due: CPP

test(cpp): remove redundant tests
  cpp/test/aoc24/day01/part_1_test.cpp
  cpp/test/aoc24/day01/part_2_test.cpp
  cpp/test/aoc24/day02/part_1_test.cpp
  cpp/test/aoc24/day02/part_2_test.cpp
Due: CPP

chore(cpp): update README info
  cpp/README.md
Due: CPP

add Go Benchmark (customSmallerIsBetter) benchmark result for db457318a1eb35ca32ee7fbc16c1102ad4a784b7
  dev/bench/data.js
Due: none

test(cpp): remove redundant tests (#243)
  cpp/README.md
  cpp/test/aoc24/day01/part_1_test.cpp
  cpp/test/aoc24/day01/part_2_test.cpp
  cpp/test/aoc24/day02/part_1_test.cpp
  cpp/test/aoc24/day02/part_2_test.cpp
Due: CPP

add Go Benchmark (customSmallerIsBetter) benchmark result for 5a2cab5d405811cda60a272fbea151b2dc3dd61f
  dev/bench/data.js
Due: none

feat(cpp): refactor cpp setup
  cpp/.clang-format
  cpp/.clang-tidy
  cpp/.gitignore
  cpp/CMakeLists.txt
  cpp/src/CMakeLists.txt
  cpp/src/aoc24/CMakeLists.txt
  cpp/src/aoc24/aoc24.cpp
  cpp/src/aoc24/aoc24.h
  cpp/src/aoc24/day01/day01.h
  cpp/src/aoc24/day01/parse_input.cpp
  cpp/src/aoc24/day01/part_1.cpp
  cpp/src/aoc24/day01/part_2.cpp
  cpp/src/aoc24/day02/day02.h
  cpp/src/aoc24/day02/parse_input.cpp
  cpp/src/aoc24/day02/part_1.cpp
  cpp/src/aoc24/day02/part_2.cpp
  cpp/src/aoc24/day03/day03.h
  cpp/src/aoc24/day03/part_1.cpp
  cpp/src/aoc24/day03/part_2.cpp
  cpp/src/aoc_util/CMakeLists.txt
  cpp/src/aoc_util/aoc_input_error.cpp
  cpp/src/aoc_util/aoc_input_error.h
  cpp/src/aoc_util/registry.cpp
  cpp/src/aoc_util/registry.h
  cpp/src/main.cpp
  cpp/test/CMakeLists.txt
  cpp/test/aoc24/day01/generated_test.cpp
  cpp/test/aoc24/day02/generated_test.cpp
  cpp/test/aoc24/day02/parse_input_test.cpp
  cpp/test/aoc24/day02/part_1_test.cpp
  cpp/test/aoc24/day02/part_2_test.cpp
  cpp/test/aoc24/day03/generated_test.cpp
  cpp/test/main_test.cpp
  test/cpp/generated_test.cpp.tmpl
  test/testgen/gen_cpp.go
  test/testgen/model.go
Due: CPP

feat(cpp): refactor cpp setup (#244)
  cpp/.clang-format
  cpp/.clang-tidy
  cpp/.gitignore
  cpp/CMakeLists.txt
  cpp/src/CMakeLists.txt
  cpp/src/aoc24/CMakeLists.txt
  cpp/src/aoc24/aoc24.cpp
  cpp/src/aoc24/aoc24.h
  cpp/src/aoc24/day01/day01.h
  cpp/src/aoc24/day01/parse_input.cpp
  cpp/src/aoc24/day01/part_1.cpp
  cpp/src/aoc24/day01/part_2.cpp
  cpp/src/aoc24/day02/day02.h
  cpp/src/aoc24/day02/parse_input.cpp
  cpp/src/aoc24/day02/part_1.cpp
  cpp/src/aoc24/day02/part_2.cpp
  cpp/src/aoc24/day03/day03.h
  cpp/src/aoc24/day03/part_1.cpp
  cpp/src/aoc24/day03/part_2.cpp
  cpp/src/aoc_util/CMakeLists.txt
  cpp/src/aoc_util/aoc_input_error.cpp
  cpp/src/aoc_util/aoc_input_error.h
  cpp/src/aoc_util/registry.cpp
  cpp/src/aoc_util/registry.h
  cpp/src/main.cpp
  cpp/test/CMakeLists.txt
  cpp/test/aoc24/day01/generated_test.cpp
  cpp/test/aoc24/day02/generated_test.cpp
  cpp/test/aoc24/day02/parse_input_test.cpp
  cpp/test/aoc24/day02/part_1_test.cpp
  cpp/test/aoc24/day02/part_2_test.cpp
  cpp/test/aoc24/day03/generated_test.cpp
  cpp/test/main_test.cpp
  test/cpp/generated_test.cpp.tmpl
  test/testgen/gen_cpp.go
  test/testgen/model.go
Due: CPP

add Go Benchmark (customSmallerIsBetter) benchmark result for f167dd4e47d4003a3037758f085c1e40f07971fc
  dev/bench/data.js
Due: none

ci(codecov): add c mod coverage
  codecov.yml
Due: none

feat(c): add initial c implementation
  .github/workflows/tests.yml
  c/.gitignore
  c/CMakeLists.txt
  c/README.md
  c/src/CMakeLists.txt
  c/src/aoc24/aoc24.c
  c/src/aoc24/aoc24.h
  c/src/aoc24/day01/day01.h
  c/src/aoc24/day01/part_1.c
  c/src/aoc24/day01/part_2.c
  c/src/aoc24/day02/day02.h
  c/src/aoc24/day02/part_1.c
  c/src/aoc24/day02/part_2.c
  c/src/aoc_util/int_util.c
  c/src/aoc_util/int_util.h
  c/src/aoc_util/registry.c
  c/src/aoc_util/registry.h
  c/src/main.c
  c/test/CMakeLists.txt
  c/test/aoc24/day01_generated.c
  c/test/aoc24/day01_parse_input.c
  c/test/aoc24/day02_generated.c
Due: none

feat(c): update linebreaks
  test/c/generated_test.c.tmpl
  test/testgen/gen_c.go
Due: none

feat(testgen): remove missplaced functions
  test/testgen/gen_c.go
  test/testgen/gen_cpp.go
  test/testgen/gen_go.go
  test/testgen/gen_python.go
  test/testgen/model.go
Due: none

ci(release-please): add c versioning
  .release-please-manifest.json
  release-please-config.json
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 29c42c89d35d53c42501d6eb1c2aa9c81e1f249c
  dev/bench/data.js
Due: none

feat(testgen): remove missplaced functions (#248)
  test/testgen/gen_c.go
  test/testgen/gen_cpp.go
  test/testgen/gen_go.go
  test/testgen/gen_python.go
  test/testgen/model.go
Due: none

ci(release-please): add c versioning (#249)
  .release-please-manifest.json
  release-please-config.json
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 1fe23ee8d96de1adc963c89e621b55c0008dd57f
  dev/bench/data.js
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 2a682739615903b647af7bb7c72daa5262421a12
  dev/bench/data.js
Due: none

test(python): move tests to dynamic test generation
  python/aoc24/day01/test_generated.py
  python/aoc24/day02/test_generated.py
  python/aoc24/day03/test_generated.py
  python/aoc24/day04/test_generated.py
  python/aoc24/day05/test_generated.py
  python/aoc24/day06/test_generated.py
  python/aoc24/day07/test_generated.py
  python/aoc24/day08/test_generated.py
  python/aoc24/day09/test_generated.py
  python/aoc24/day10/test_generated.py
  python/aoc24/day11/test_generated.py
  python/aoc24/day12/test_generated.py
  python/aoc24/day13/test_generated.py
  python/aoc24/day14/test_generated.py
  python/aoc24/day15/test_generated.py
  python/aoc24/day16/test_generated.py
  python/aoc24/day17/test_generated.py
  python/aoc24/day17/test_part_1.py
  python/aoc24/day17/test_part_2.py
  python/aoc24/day18/test_generated.py
  python/aoc24/day19/test_generated.py
  python/aoc24/day20/test_generated.py
  python/aoc24/day21/test_generated.py
  python/aoc24/day22/test_generated.py
  python/aoc24/day23/test_generated.py
  python/aoc25/day01/test_generated.py
  python/aoc25/day02/test_generated.py
  python/aoc25/day03/test_generated.py
  python/aoc25/day04/test_generated.py
  python/aoc25/day05/test_generated.py
  python/aoc25/day06/test_generated.py
  python/aoc25/day07/test_generated.py
  python/aoc25/day11/test_generated.py
  python/test_aoc.py
  test/python/test_generated.py.tmpl
  test/testgen/config.json
  test/testgen/gen_python.go
Due: none

test(python): move tests to dynamic test generation (#251)
  python/aoc24/day01/test_generated.py
  python/aoc24/day02/test_generated.py
  python/aoc24/day03/test_generated.py
  python/aoc24/day04/test_generated.py
  python/aoc24/day05/test_generated.py
  python/aoc24/day06/test_generated.py
  python/aoc24/day07/test_generated.py
  python/aoc24/day08/test_generated.py
  python/aoc24/day09/test_generated.py
  python/aoc24/day10/test_generated.py
  python/aoc24/day11/test_generated.py
  python/aoc24/day12/test_generated.py
  python/aoc24/day13/test_generated.py
  python/aoc24/day14/test_generated.py
  python/aoc24/day15/test_generated.py
  python/aoc24/day16/test_generated.py
  python/aoc24/day17/test_generated.py
  python/aoc24/day17/test_part_1.py
  python/aoc24/day17/test_part_2.py
  python/aoc24/day18/test_generated.py
  python/aoc24/day19/test_generated.py
  python/aoc24/day20/test_generated.py
  python/aoc24/day21/test_generated.py
  python/aoc24/day22/test_generated.py
  python/aoc24/day23/test_generated.py
  python/aoc25/day01/test_generated.py
  python/aoc25/day02/test_generated.py
  python/aoc25/day03/test_generated.py
  python/aoc25/day04/test_generated.py
  python/aoc25/day05/test_generated.py
  python/aoc25/day06/test_generated.py
  python/aoc25/day07/test_generated.py
  python/aoc25/day11/test_generated.py
  python/test_aoc.py
  test/python/test_generated.py.tmpl
  test/testgen/config.json
  test/testgen/gen_python.go
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for e0380609050ca58e4bc7c5a149fc0c378a0b2ed6
  dev/bench/data.js
Due: none

fix(c): reduce internal function visibility
  c/.gitignore
  c/src/aoc24/day01/day01.h
  c/src/aoc24/day01/day01_internal.h
  c/src/aoc24/day01/part_1.c
  c/src/aoc24/day01/part_2.c
  c/test/aoc24/day01_parse_input.c
Due: none

fix(c): reduce internal function visibility (#252)
  c/.gitignore
  c/src/aoc24/day01/day01.h
  c/src/aoc24/day01/day01_internal.h
  c/src/aoc24/day01/part_1.c
  c/src/aoc24/day01/part_2.c
  c/test/aoc24/day01_parse_input.c
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for 7b7bd982694a16e4f698329dcbd387936a0adbd1
  dev/bench/data.js
Due: none
