Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO

docs: update readmes
  README.md
  go/README.md
  python/README.md
Due: Python, GO

add spacings
  README.md
  go/README.md
Due: GO

WIP
  python/aoc24/day24/operation.py
  python/aoc24/day24/test_operation.py
Due: Python

add python 24 day 24 tests
  python/aoc24/day24/part_1.py
  python/aoc24/day24/test_part_1.py
Due: Python

WIP
  python/aoc24/day24/part_1.py
  python/aoc24/day24/part_2.py
Due: Python

WIP
  .vscode/launch.json
  .vscode/settings.json
  python/aoc24/day24/operation.py
  python/aoc24/day24/part_1.py
  python/aoc24/day24/part_2.py
  python/aoc24/day24/test_operation.py
  python/aoc24/day24/test_part_1.py
  python/aoc24/day24/test_part_2.py
Due: Python

add python 24 day 24 tests
  python/aoc24/day24/part_2.py
  python/aoc24/day24/test_part_2.py
Due: Python

docs: update readmes (#97)
  README.md
  go/README.md
  python/README.md
Due: Python, GO

setup go day 20
  go/aoc24/day20/part_1.go
  go/aoc24/day20/part_2.go
Due: GO

add go day 20
  go/aoc24/aoc24.go
  go/aoc24/day20/part_1.go
  go/aoc24/day20/part_1_test.go
  go/aoc24/day20/part_2.go
  go/aoc24/day20/part_2_test.go
  go/aoc_utils/point.go
Due: GO

add go day 20 year 24 (#98)
  go/aoc24/aoc24.go
  go/aoc24/day20/part_1.go
  go/aoc24/day20/part_1_test.go
  go/aoc24/day20/part_2.go
  go/aoc24/day20/part_2_test.go
  go/aoc_utils/point.go
Due: GO

add go day 21
  go/aoc24/day21/part_1.go
  go/aoc24/day21/part_1_test.go
Due: GO

add go day 22 part 1
  go/aoc24/aoc24.go
  go/aoc24/day22/part_1.go
  go/aoc24/day22/part_1_test.go
  go/aoc24/day22/part_2.go
Due: GO

WIP
  go/aoc24/day22/part_1.go
  go/aoc24/day22/part_1_test.go
  go/aoc24/day22/part_2.go
  go/aoc24/day22/part_2_test.go
  go/aoc_utils/queues/fifo.go
  go/aoc_utils/queues/fifo_test.go
  go/main.go
Due: GO

WIP
  go/aoc24/aoc24.go
  go/aoc24/day22/part_2.go
  go/aoc24/day22/part_2_test.go
Due: GO

WIP
  go/aoc24/day22/part_2.go
  go/aoc24/day22/part_2_test.go
  go/main.go
Due: GO

done with part 2
  go/aoc24/day22/part_2.go
Due: GO

ci(codecov): allow 2% coverage drop
  codecov.yml
Due: none

ci(codecov): allow 2% coverage drop (#101)
  codecov.yml
Due: none

add go day 22 (#100)
  go/aoc24/aoc24.go
  go/aoc24/day22/part_1.go
  go/aoc24/day22/part_1_test.go
  go/aoc24/day22/part_2.go
  go/aoc24/day22/part_2_test.go
  go/aoc_utils/queues/fifo.go
  go/aoc_utils/queues/fifo_test.go
  go/main.go
Due: GO

add several go benchmarks
  go/aoc24/day10/part_1_test.go
  go/aoc24/day10/part_2_test.go
  go/aoc24/day11/part_1_test.go
  go/aoc24/day11/part_2_test.go
  go/aoc24/day12/part_1_test.go
  go/aoc24/day12/part_2_test.go
  go/aoc24/day13/part_1.go
  go/aoc24/day13/part_1_test.go
  go/aoc24/day13/part_2_test.go
  go/aoc24/day14/part_1_test.go
  go/aoc24/day14/part_2_test.go
Due: GO

add several go benchmarks (#102)
  go/aoc24/day10/part_1_test.go
  go/aoc24/day10/part_2_test.go
  go/aoc24/day11/part_1_test.go
  go/aoc24/day11/part_2_test.go
  go/aoc24/day12/part_1_test.go
  go/aoc24/day12/part_2_test.go
  go/aoc24/day13/part_1.go
  go/aoc24/day13/part_1_test.go
  go/aoc24/day13/part_2_test.go
  go/aoc24/day14/part_1_test.go
  go/aoc24/day14/part_2_test.go
Due: GO

add go day 23 part 1
  go/aoc24/aoc24.go
  go/aoc24/day23/part_1.go
  go/aoc24/day23/part_1_test.go
  go/main.go
Due: GO

add go day 23 part 1
  go/aoc24/day23/part_1.go
  go/aoc24/day23/part_1_test.go
Due: GO

add go day 23 part 2
  go/aoc24/aoc24.go
  go/aoc24/day23/part_2.go
  go/aoc24/day23/part_2_test.go
  go/main.go
Due: GO

add go day 23 part 2
  go/aoc24/day23/part_2.go
  go/aoc24/day23/part_2_test.go
Due: GO

add go day 23 (#103)
  go/aoc24/aoc24.go
  go/aoc24/day23/part_1.go
  go/aoc24/day23/part_1_test.go
  go/aoc24/day23/part_2.go
  go/aoc24/day23/part_2_test.go
  go/main.go
Due: GO

WIP
  go/aoc24/day21/directional.go
  go/aoc24/day21/directional_test.go
  go/aoc24/day21/numeric.go
  go/aoc24/day21/numeric_test.go
  go/aoc24/day21/part_1.go
  go/aoc24/day21/part_1_test.go
Due: GO

WIP
  go/aoc24/aoc24.go
  go/aoc24/day21/numeric.go
  go/aoc24/day21/numeric_test.go
  go/aoc24/day21/part_1.go
  go/aoc24/day21/part_1_test.go
  go/aoc24/day21/part_2.go
  go/aoc24/day21/part_2_test.go
Due: GO

WIP
  go/aoc24/aoc24.go
  go/aoc24/day21/cache.go
  go/aoc24/day21/cache_test.go
  go/aoc24/day21/directional.go
  go/aoc24/day21/numeric.go
  go/main.go
Due: GO

WIP
  go/aoc24/day21/cache.go
  go/aoc24/day21/directional.go
  go/aoc24/day21/numeric.go
  go/aoc24/day21/part_1.go
  go/aoc24/day21/part_1_test.go
  go/aoc24/day21/part_2.go
Due: GO

WIP
  go/aoc24/day21/part_1.go
  go/aoc24/day21/part_1_test.go
  go/aoc24/day21/part_2.go
  go/aoc24/day21/part_2_test.go
Due: GO

WIP
  go/aoc24/day21/directional.go
  go/aoc24/day21/part_2.go
Due: GO

add go day 21 (#99)
  go/aoc24/aoc24.go
  go/aoc24/day21/cache.go
  go/aoc24/day21/cache_test.go
  go/aoc24/day21/directional.go
  go/aoc24/day21/directional_test.go
  go/aoc24/day21/numeric.go
  go/aoc24/day21/numeric_test.go
  go/aoc24/day21/part_1.go
  go/aoc24/day21/part_1_test.go
  go/aoc24/day21/part_2.go
  go/aoc24/day21/part_2_test.go
  go/main.go
Due: GO

style(python): fix black issue
  python/aoc.py
Due: Python

fix(python): add python console output of result
  python/aoc.py
Due: Python

fix(python): add python console output of result (#128)
  python/aoc.py
Due: Python

Path conditions:
  Python: any of: python/**, but not: python/**/test_*.py
  GO: any of: go/**, but not: python/**/test_*.py
