Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO

feat(go): remove global cache for better benchmarking
  go/aoc24/day21/directional.go
  go/aoc24/day21/directional_test.go
  go/aoc24/day21/numeric.go
  go/aoc24/day21/numeric_test.go
  go/aoc24/day21/part_1.go
  go/aoc24/day21/part_1_test.go
  go/aoc24/day21/part_2_test.go
Due: GO

feat(go): remove global cache for better benchmarking (#129)
  go/aoc24/day21/directional.go
  go/aoc24/day21/directional_test.go
  go/aoc24/day21/numeric.go
  go/aoc24/day21/numeric_test.go
  go/aoc24/day21/part_1.go
  go/aoc24/day21/part_1_test.go
  go/aoc24/day21/part_2_test.go
Due: GO

style(python): a lot of mypy fixes
  python/aoc24/day03/part_1.py
  python/aoc24/day03/part_2.py
  python/aoc24/day05/part_1.py
  python/aoc24/day05/part_2.py
  python/aoc24/day06/part_1.py
  python/aoc24/day06/part_2.py
  python/aoc24/day07/shared.py
  python/aoc24/day08/part_1.py
  python/aoc24/day08/part_2.py
  python/aoc24/day08/shared.py
  python/aoc24/day10/part_1.py
  python/aoc24/day10/part_2.py
  python/aoc24/day13/part_1.py
  python/aoc24/day13/part_2.py
  python/aoc24/day15/part_1.py
  python/aoc24/day15/part_2.py
  python/aoc24/day17/part_1.py
  python/aoc24/day18/part_2.py
  python/aoc24/day18/shared.py
  python/aoc24/day20/part_1.py
  python/aoc24/day20/part_2.py
  python/aoc24/day20/shared.py
  python/aoc24/day22/part_2.py
  python/aoc24/day23/part_1.py
  python/aoc24/day23/part_2.py
  python/aoc24/day24/part_2.py
Due: Python

style(python): a lot of black fixes
  python/aoc24/day03/part_1.py
  python/aoc24/day05/part_1.py
  python/aoc24/day05/part_2.py
  python/aoc24/day06/part_1.py
  python/aoc24/day06/part_2.py
  python/aoc24/day07/shared.py
  python/aoc24/day08/part_1.py
  python/aoc24/day08/part_2.py
  python/aoc24/day08/shared.py
  python/aoc24/day10/part_1.py
  python/aoc24/day10/part_2.py
  python/aoc24/day13/part_1.py
  python/aoc24/day17/part_1.py
  python/aoc24/day18/part_2.py
  python/aoc24/day18/shared.py
  python/aoc24/day20/part_1.py
  python/aoc24/day20/part_2.py
  python/aoc24/day20/shared.py
  python/aoc24/day22/part_2.py
  python/aoc24/day23/part_1.py
  python/aoc24/day23/part_2.py
Due: Python

style(python): a lot of mypy stuff (#130)
  python/aoc24/day03/part_1.py
  python/aoc24/day03/part_2.py
  python/aoc24/day05/part_1.py
  python/aoc24/day05/part_2.py
  python/aoc24/day06/part_1.py
  python/aoc24/day06/part_2.py
  python/aoc24/day07/shared.py
  python/aoc24/day08/part_1.py
  python/aoc24/day08/part_2.py
  python/aoc24/day08/shared.py
  python/aoc24/day10/part_1.py
  python/aoc24/day10/part_2.py
  python/aoc24/day13/part_1.py
  python/aoc24/day13/part_2.py
  python/aoc24/day15/part_1.py
  python/aoc24/day15/part_2.py
  python/aoc24/day17/part_1.py
  python/aoc24/day18/part_2.py
  python/aoc24/day18/shared.py
  python/aoc24/day20/part_1.py
  python/aoc24/day20/part_2.py
  python/aoc24/day20/shared.py
  python/aoc24/day22/part_2.py
  python/aoc24/day23/part_1.py
  python/aoc24/day23/part_2.py
  python/aoc24/day24/part_2.py
Due: Python

ci(github): add benchmarking
  .github/workflows/tests.yml
Due: none

ci(github): fix path
  .github/workflows/tests.yml
Due: none

init
  README.md
Due: none

add Go Benchmark (go) benchmark result for 28bc41bc9082daf24b15fb2c2d565bf4caf39bc5
  dev/bench/data.js
  dev/bench/index.html
Due: none

add readme reference
  .github/workflows/tests.yml
  go/README.md
Due: GO

ci(github): add benchmarking (#131)
  .github/workflows/tests.yml
  go/README.md
Due: GO

add Go Benchmark (go) benchmark result for d9bd0f7650626f6bf6b53348bc324879f3e76033
  dev/bench/data.js
Due: none

setup c++ fun
  cpp/.gitignore
  cpp/README.md
  cpp/aoc.cpp
  cpp/aoc24/aoc24.cpp
  cpp/aoc24/day01/part_1.cpp
  cpp/util/aoc_input_error.cpp
  cpp/util/aoc_input_error.h
  cpp/util/registry.cpp
  cpp/util/registry.h
Due: none

setup github action
  .github/workflows/tests.yml
  .vscode/settings.json
Due: none

makefile WIP
  cpp/.gitignore
  cpp/Makefile
  cpp/main.cpp
  cpp/util/Makefile
Due: none

makefile WIP
  cpp/Makefile
  cpp/aoc24/aoc24.cpp
  cpp/aoc_util/Makefile
  cpp/aoc_util/aoc_input_error.cpp
  cpp/aoc_util/aoc_input_error.h
  cpp/aoc_util/registry.cpp
  cpp/aoc_util/registry.h
Due: none

makefile WIP
  .github/workflows/tests.yml
Due: none

makefile WIP
  .github/workflows/tests.yml
  cpp/.gitignore
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/aoc_util/CMakeLists.txt
  cpp/aoc_util/Makefile
Due: none

makefile WIP
  .github/workflows/tests.yml
  cpp/.gitignore
  cpp/CMakeLists.txt
  cpp/src/CMakeLists.txt
  cpp/src/aoc24/aoc24.cpp
  cpp/src/aoc24/day01/part_1.cpp
  cpp/src/aoc_util/CMakeLists.txt
  cpp/src/aoc_util/aoc_input_error.cpp
  cpp/src/aoc_util/aoc_input_error.h
  cpp/src/aoc_util/registry.cpp
  cpp/src/aoc_util/registry.h
  cpp/src/main.cpp
  cpp/test/CMakeLists.txt
  cpp/test/main.cpp
Due: none

makefile WIP
  .vscode/settings.json
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/src/main.cpp
Due: none

makefile WIP
  cpp/src/aoc24/aoc24.cpp
  cpp/src/aoc24/day01/part_1.cpp
  cpp/test/CMakeLists.txt
  cpp/test/aoc24/day01/part_1.cpp
  cpp/test/main.cpp
Due: none

makefile WIP
  cpp/CMakeLists.txt
  cpp/src/CMakeLists.txt
Due: none

makefile WIP
  .github/workflows/tests.yml
  cpp/CMakeLists.txt
  cpp/src/CMakeLists.txt
  cpp/src/aoc_util/CMakeLists.txt
  cpp/test/aoc24/day01/part_1_test.cpp
  cpp/test/main_test.cpp
Due: none

add C++ (#133)
  .github/workflows/tests.yml
  .vscode/settings.json
  cpp/.gitignore
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/src/CMakeLists.txt
  cpp/src/aoc24/aoc24.cpp
  cpp/src/aoc24/day01/part_1.cpp
  cpp/src/aoc_util/CMakeLists.txt
  cpp/src/aoc_util/aoc_input_error.cpp
  cpp/src/aoc_util/aoc_input_error.h
  cpp/src/aoc_util/registry.cpp
  cpp/src/aoc_util/registry.h
  cpp/src/main.cpp
  cpp/test/CMakeLists.txt
  cpp/test/aoc24/day01/part_1_test.cpp
  cpp/test/main_test.cpp
Due: none

add Go Benchmark (go) benchmark result for 1d6ccf3254cc11be709991ff6e3a57049462c0a7
  dev/bench/data.js
Due: none

ci(codecov): add c++ component specification
  codecov.yml
Due: none

ci(codecov): add c++ component specification (#134)
  codecov.yml
Due: none

add Go Benchmark (go) benchmark result for 550995883a2a342f80294f1f8f1752c4afdf7c26
  dev/bench/data.js
Due: none

add cpp year 24 day 1 part 2
  cpp/src/CMakeLists.txt
  cpp/src/aoc24/CMakeLists.txt
  cpp/src/aoc24/aoc24.cpp
  cpp/src/aoc24/aoc24.h
  cpp/src/aoc24/day01/day01.h
  cpp/src/aoc24/day01/parse_input.cpp
  cpp/src/aoc24/day01/parse_input.h
  cpp/src/aoc24/day01/part_2.cpp
  cpp/src/main.cpp
  cpp/test/CMakeLists.txt
  cpp/test/aoc24/day01/part_2_test.cpp
Due: none

add cpp year 24 day 1 part 2
  cpp/src/aoc24/day01/day01.h
  cpp/src/aoc24/day01/parse_input.cpp
  cpp/src/aoc24/day01/parse_input.h
  cpp/src/aoc24/day01/part_1.cpp
  cpp/src/aoc24/day01/part_2.cpp
Due: none

add cpp year 24 day 1 part 2 (#135)
  cpp/src/CMakeLists.txt
  cpp/src/aoc24/CMakeLists.txt
  cpp/src/aoc24/aoc24.cpp
  cpp/src/aoc24/aoc24.h
  cpp/src/aoc24/day01/day01.h
  cpp/src/aoc24/day01/parse_input.cpp
  cpp/src/aoc24/day01/part_1.cpp
  cpp/src/aoc24/day01/part_2.cpp
  cpp/src/main.cpp
  cpp/test/CMakeLists.txt
  cpp/test/aoc24/day01/part_2_test.cpp
Due: none

add Go Benchmark (go) benchmark result for 4a0db0d31fd34043a9c6ce5970f1cf119763caa3
  dev/bench/data.js
Due: none

README updates
  cpp/README.md
  go/README.md
Due: GO

README updates (#136)
  cpp/README.md
  go/README.md
Due: GO

add Go Benchmark (go) benchmark result for b268e3e225475b69914400dccbe53e2100135ebc
  dev/bench/data.js
Due: none

ci(github): replace black with yapf
  .github/workflows/black-pr.yml
  .github/workflows/tests.yml
  python/requirements_test.txt
Due: Python

Path conditions:
  Python: any of: python/**, but not: python/**/test_*.py
  GO: any of: go/**, but not: python/**/test_*.py
