Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO, CPP

codecov.yml:

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 2%
  individual_components:
    - component_id: module_python # this is an identifier that should not be changed
      name: Python # this is a display name, and can be changed freely
      paths:
        - python/**
    - component_id: module_go
      name: GO
      paths:
        - go/**
    - component_id: module_cpp
      name: CPP
      paths:
        - cpp/**
comment: # this is a top-level key
  layout: " diff, flags, files"
  behavior: default
  require_changes: false # learn more in the Requiring Changes section below
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff]
ignore:
  - python/**/test_*.py
coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 2%
        base: auto 
        branches: 
          - main

add Go Benchmark (customSmallerIsBetter) benchmark result for 3ae1e8e1ea3431dfec806868454ebdab5019ed76
  dev/bench/data.js
Due: none

feat(python): add year25 day01 (#196)
  python/aoc.py
  python/aoc25/day01/__init__.py
  python/aoc25/day01/parse_input.py
  python/aoc25/day01/part_1.py
  python/aoc25/day01/part_2.py
  python/aoc25/day01/test_part_1.py
  python/aoc25/day01/test_part_2.py
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for 3c8954ab2acdab86ea9e2d634d244b42119555f1
  dev/bench/data.js
Due: none

feat(go): range over function
  go/aoc25/day01/parse_input.go
  go/aoc25/day01/part_1.go
  go/aoc25/day01/part_2.go
Due: GO

feat(go): range over function (#198)
  go/aoc25/day01/parse_input.go
  go/aoc25/day01/part_1.go
  go/aoc25/day01/part_2.go
Due: GO

feat(python): generator and no tuple
  python/aoc25/day01/parse_input.py
  python/aoc25/day01/part_1.py
  python/aoc25/day01/part_2.py
Due: Python

style(python): yapf is yapping
  python/aoc25/day01/part_1.py
  python/aoc25/day01/part_2.py
Due: Python

feat(python): generator and no tuple (#197)
  python/aoc25/day01/parse_input.py
  python/aoc25/day01/part_1.py
  python/aoc25/day01/part_2.py
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for 477f33ff20fe9683f8d6dfb7ffd59d62395ad80b
  dev/bench/data.js
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for e27f14bcebeabb2f4f16efe24fdc0e99ccef1c76
  dev/bench/data.js
Due: none

feat(python): add year25 day03
  python/aoc25/day03/part_1.py
  python/aoc25/day03/part_2.py
  python/aoc25/day03/test_part_1.py
  python/aoc25/day03/test_part_2.py
Due: Python

feat(python): add year25 day03 (#199)
  python/aoc25/day03/part_1.py
  python/aoc25/day03/part_2.py
  python/aoc25/day03/test_part_1.py
  python/aoc25/day03/test_part_2.py
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for 6cd637b1cad3ff679ab208446029690c01f7b3e0
  dev/bench/data.js
Due: none

feat(python): add year25 day04
  python/aoc25/day04/part_1.py
  python/aoc25/day04/part_2.py
  python/aoc25/day04/test_part_1.py
  python/aoc25/day04/test_part_2.py
Due: Python

feat(python): add year25 day04 (#200)
  python/aoc25/day04/part_1.py
  python/aoc25/day04/part_2.py
  python/aoc25/day04/test_part_1.py
  python/aoc25/day04/test_part_2.py
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for 813d6bc6fa4f85ddf13af8112bebcb1d79988764
  dev/bench/data.js
Due: none

feat(python): add year25 day05
  python/aoc25/day05/__init__.py
  python/aoc25/day05/part_1.py
  python/aoc25/day05/part_2.py
  python/aoc25/day05/test_part_1.py
  python/aoc25/day05/test_part_2.py
Due: Python

style(python): yapf is yapping
  python/aoc25/day05/part_1.py
  python/aoc25/day05/part_2.py
Due: Python

feat(python): add year25 day05 (#201)
  python/aoc25/day05/__init__.py
  python/aoc25/day05/part_1.py
  python/aoc25/day05/part_2.py
  python/aoc25/day05/test_part_1.py
  python/aoc25/day05/test_part_2.py
Due: Python

test(python): fix python year 25 test cases
  python/aoc25/__init__.py
  python/aoc25/day01/test_part_1.py
  python/aoc25/day01/test_part_2.py
  python/aoc25/day03/__init__.py
  python/aoc25/day03/test_part_1.py
  python/aoc25/day03/test_part_2.py
  python/aoc25/day04/__init__.py
  python/aoc25/day04/test_part_1.py
  python/aoc25/day04/test_part_2.py
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for 213040f950cdc421c20d2fe0d53b9947de90fe8b
  dev/bench/data.js
Due: none

test(python): fix python year 25 test cases (#202)
  python/aoc25/__init__.py
  python/aoc25/day01/test_part_1.py
  python/aoc25/day01/test_part_2.py
  python/aoc25/day03/__init__.py
  python/aoc25/day03/test_part_1.py
  python/aoc25/day03/test_part_2.py
  python/aoc25/day04/__init__.py
  python/aoc25/day04/test_part_1.py
  python/aoc25/day04/test_part_2.py
Due: Python

add Go Benchmark (customSmallerIsBetter) benchmark result for 572e1c83f21e73802e9848d677c158705d1882f1
  dev/bench/data.js
Due: none

feat(go): add year25 day05
  go/aoc25/day05/compress.go
  go/aoc25/day05/compress_test.go
  go/aoc25/day05/parse_input.go
  go/aoc25/day05/parse_input_test.go
  go/aoc25/day05/part_1.go
  go/aoc25/day05/part_1_test.go
  go/aoc25/day05/part_2.go
  go/aoc25/day05/part_2_test.go
  go/aoc25/day05/sample.txt
Due: GO

fix(go): fix aoc_util functions
  go/aoc_utils/math/interval.go
  go/aoc_utils/math/interval_test.go
  go/aoc_utils/math/util.go
Due: GO

fix(go): fix aoc_util functions (#204)
  go/aoc_utils/math/interval.go
  go/aoc_utils/math/interval_test.go
  go/aoc_utils/math/util.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for dcf3009ec5376c493ec4f88c741ca5642a48ea4d
  dev/bench/data.js
Due: none

feat(go): add year25 day05 (#203)
  go/aoc25/day05/compress.go
  go/aoc25/day05/compress_test.go
  go/aoc25/day05/parse_input.go
  go/aoc25/day05/parse_input_test.go
  go/aoc25/day05/part_1.go
  go/aoc25/day05/part_1_test.go
  go/aoc25/day05/part_2.go
  go/aoc25/day05/part_2_test.go
  go/aoc25/day05/sample.txt
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 837e027ce6d7fc26c23e367ecd5c614c6475b1b7
  dev/bench/data.js
Due: none

feat(python): add year25 day06
  python/aoc25/day06/part_1.py
  python/aoc25/day06/part_2.py
  python/aoc25/day06/test_part_1.py
  python/aoc25/day06/test_part_2.py
Due: Python

style(python): yapf is yapping
  python/aoc25/day06/part_1.py
  python/aoc25/day06/part_2.py
Due: Python

feat(python): add year25 day06 (#205)
  python/aoc25/day06/part_1.py
  python/aoc25/day06/part_2.py
  python/aoc25/day06/test_part_1.py
  python/aoc25/day06/test_part_2.py
Due: Python

feat(go): add year25 day06
  go/aoc25/day06/part_1.go
  go/aoc25/day06/part_1_test.go
  go/aoc25/day06/part_2.go
  go/aoc25/day06/part_2_test.go
  go/aoc25/day06/sample.txt
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 76786b49de49eab4f332bc30a829be668a981acc
  dev/bench/data.js
Due: none

feat(go): add year25 day06 (#206)
  go/aoc25/day06/part_1.go
  go/aoc25/day06/part_1_test.go
  go/aoc25/day06/part_2.go
  go/aoc25/day06/part_2_test.go
  go/aoc25/day06/sample.txt
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 50daac6f219e7e45eeecdc34a04423f557cce017
  dev/bench/data.js
Due: none

fix(python): add missing python test init file
  python/aoc25/day06/__init__.py
  python/aoc25/day06/part_1.py
  python/aoc25/day06/part_2.py
Due: Python

fix(python): add missing python test init file (#207)
  python/aoc25/day06/__init__.py
  python/aoc25/day06/part_1.py
  python/aoc25/day06/part_2.py
Due: Python
