Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO, CPP, C

codecov.yml:

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 2%
  individual_components:
    - component_id: module_python # this is an identifier that should not be changed
      name: Python # this is a display name, and can be changed freely
      paths:
        - python/**
    - component_id: module_go
      name: GO
      paths:
        - go/**
    - component_id: module_cpp
      name: CPP
      paths:
        - cpp/**
    - component_id: module_c
      name: C
      paths:
        - c/**
comment: # this is a top-level key
  layout: " diff, flags, files"
  behavior: default
  require_changes: false # learn more in the Requiring Changes section below
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff]
ignore:
  - python/**/test_*.py
coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 2%
        base: auto 
        branches: 
          - main

chore(cpp): change nlohmann/json to git tag fetch
  cpp/CMakeLists.txt
Due: CPP

ci(renovate): add renovate json
  .github/workflows/renovate.json
Due: none

chore(cpp): bump googletest to v1.15.2 (#312)
  cpp/CMakeLists.txt
Due: CPP

Update benchmarks [skip ci] 5b40121845569414c04fb17e6bc61ebb4e37e0f3
  data.json
Due: none

ci(renovate): add renovate json (#314)
  .github/workflows/renovate.json
Due: none

Update benchmarks [skip ci] dcfe1144c48d02b1b245732ff3545a116e9c02a9
  data.json
Due: none

ci(renovate): fix renovate.json location
  .github/renovate.json
Due: none

chore(cpp): change nlohmann/json to git tag fetch (#313)
  cpp/CMakeLists.txt
Due: CPP

Update benchmarks [skip ci] ea0163c0d66346ca9e8a925a700abc3d45288011
  data.json
Due: none

perf(python): very slightly improve year 24 day 03
  python/aoc24/day03/part_1.py
Due: Python

ci(renovate): fix renovate.json location (#315)
  .github/renovate.json
Due: none

Update benchmarks [skip ci] 90701d93fad513bc4d67d0d3a92898590f821e17
  data.json
Due: none

perf(python): very slightly improve year 24 day 03 (#316)
  python/aoc24/day03/part_1.py
Due: Python

Update benchmarks [skip ci] d835d67a3f7316ebd9d7243ae7a14335a82dad49
  data.json
Due: none

Update benchmarks [skip ci] 438f901cfdc61dcb560f1144d04515ce0422da03
  data.json
Due: none

ci(renovate): add cmake renovate update
  .github/renovate.json
Due: none

ci(renovate): add cmake renovate update (#326)
  .github/renovate.json
Due: none

Update benchmarks [skip ci] 4e7a27ea1ffb5400134e79fad7bf1a127e9724b2
  data.json
Due: none

Update benchmarks [skip ci] 91924bc6812d3eb4155d97d6def970d039775d70
  data.json
Due: none

Update benchmarks [skip ci] 2e2ddd87d5afdfb858881cd03ae96295ce5aaced
  data.json
Due: none

Update benchmarks [skip ci] 090ced17ac44d3bac2b2adf7189fd58b2e3ab212
  data.json
Due: none

Update benchmarks [skip ci] 3bb6ec851c4bccb6e1b74fd5fa8f035c786016a2
  data.json
Due: none

perf(python): improve year 25 day 02 performance
  python/aoc25/day02/find_repeated_blocks.py
  python/aoc25/day02/parse_input.py
  python/aoc25/day02/part_1.py
  python/aoc25/day02/part_2.py
Due: Python

perf(python): improve year 25 day 02 performance (#330)
  python/aoc25/day02/find_repeated_blocks.py
  python/aoc25/day02/parse_input.py
  python/aoc25/day02/part_1.py
  python/aoc25/day02/part_2.py
Due: Python

Update benchmarks [skip ci] 9b90e551d0156fc0b8c68b99b319bf037bbb554c
  data.json
Due: none

Update benchmarks [skip ci] 257401589ea5171c88857720257a8981238a6dae
  data.json
Due: none

Update benchmarks [skip ci] e341bc4752f9d4d9cd93149991327d89c91d07db
  data.json
Due: none

perf(python): improve year 25 day 15 part 1 performance
  python/aoc24/day15/part_1.py
  python/aoc24/day15/shared.py
Due: Python

fix(python): fix naming convention of coord types
  python/aoc24/day20/shared.py
  python/util/typed_coord.py
Due: Python

style(python): add type description
  python/util/typed_coord.py
Due: Python

fix(python): fix naming convention of coord types (#333)
  python/aoc24/day20/shared.py
  python/util/typed_coord.py
Due: Python

Update benchmarks [skip ci] 5d2d80a11e6d7af5462ec3dcb2f30d5ce4fb1637
  data.json
Due: none

feat(python): replace type defintion of points
  python/aoc24/day15/part_1.py
  python/aoc24/day15/part_2.py
  python/aoc24/day15/shared.py
  python/aoc24/day20/part_1.py
  python/aoc24/day20/part_2.py
  python/aoc24/day20/shared.py
  python/util/typed_coord.py
Due: Python

perf(python): improve year 25 day 15 performance (#332)
  python/aoc24/day15/part_1.py
  python/aoc24/day15/part_2.py
  python/aoc24/day15/shared.py
  python/aoc24/day20/part_1.py
  python/aoc24/day20/part_2.py
  python/aoc24/day20/shared.py
  python/util/typed_coord.py
Due: Python

Update benchmarks [skip ci] 1bd596dae0ef72f615307ac13f6630e74a6c90a3
  data.json
Due: none

perf(python): improve year 23 day 01 performance
  python/aoc23/day01/part_1.py
  python/aoc23/day01/part_2.py
Due: Python

perf(python): improve year 23 day 01 performance (#334)
  python/aoc23/day01/part_1.py
  python/aoc23/day01/part_2.py
Due: Python

Update benchmarks [skip ci] de6ed85791d071ac4683dee06e971d2fa9f4712a
  data.json
Due: none

perf(go): improve performance year 24 day 09 part 1
  go/aoc24/day09/part_1.go
  go/aoc24/day09/part_1_test.go
Due: GO

perf(go): improve performance year 24 day 09 part 2
  go/aoc24/day09/part_1.go
  go/aoc24/day09/part_1_test.go
  go/aoc24/day09/part_2.go
  go/aoc24/day09/part_2_test.go
Due: GO
