Repository donmahallem/aoc: changes, and which Codecov flags are due for each by the changed paths.
All: Python, GO, CPP

codecov.yml:

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 2%
  individual_components:
    - component_id: module_python # this is an identifier that should not be changed
      name: Python # this is a display name, and can be changed freely
      paths:
        - python/**
    - component_id: module_go
      name: GO
      paths:
        - go/**
    - component_id: module_cpp
      name: CPP
      paths:
        - cpp/**
comment: # this is a top-level key
  layout: " diff, flags, files"
  behavior: default
  require_changes: false # learn more in the Requiring Changes section below
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff]
ignore:
  - python/**/test_*.py
coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 2%
        base: auto 
        branches: 
          - main

feat(go) year 24 day 04 improvements (#184)
  go/aoc24/day04/part_1.go
  go/aoc24/day04/part_1_test.go
  go/aoc24/day04/part_2.go
  go/aoc24/day04/part_2_test.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 34856d310833b97c3529b8edd99113e15f76f9a5
  dev/bench/data.js
Due: none

feat(go): add ParseIntSequence method
  go/aoc_utils/bytes/parse_int_sequence.go
  go/aoc_utils/bytes/parse_int_sequence_test.go
Due: GO

feat(go): add ParseIntSequence method (#186)
  go/aoc_utils/bytes/parse_int_sequence.go
  go/aoc_utils/bytes/parse_int_sequence_test.go
Due: GO

feat(go): improve year 24 day 05
  go/aoc24/day05/part_1.go
  go/aoc24/day05/part_2.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 497965ebb8b7fd19c543a0c4ec0b844565dd4d8c
  dev/bench/data.js
Due: none

feat(go): use ParseIntSequence
  go/aoc24/day05/part_1.go
  go/aoc24/day05/part_2.go
Due: GO

feat(go): improve year 24 day 05 (#185)
  go/aoc24/day05/part_1.go
  go/aoc24/day05/part_2.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for bbce9b9673d2959811250ceb12c1fdab0a48173a
  dev/bench/data.js
Due: none

feat(go): improve year 24 day 06
  go/aoc24/day06/part_1.go
  go/aoc24/day06/part_1_test.go
  go/aoc24/day06/part_2.go
  go/aoc24/day06/part_2_test.go
Due: GO

feat(go): improve year 24 day 06 (#187)
  go/aoc24/day06/part_1.go
  go/aoc24/day06/part_1_test.go
  go/aoc24/day06/part_2.go
  go/aoc24/day06/part_2_test.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for cb86556af45ae54851347ed0ce3e1d553a3c0150
  dev/bench/data.js
Due: none

feat(go): improve year 24 day 10
  go/aoc24/day10/part_1.go
  go/aoc24/day10/part_12_test.go
  go/aoc24/day10/part_1_test.go
  go/aoc24/day10/part_2.go
  go/aoc24/day10/part_2_test.go
  go/test_utils/test_files.go
Due: GO

feat(go): improve year 24 day 10 (#188)
  go/aoc24/day10/part_1.go
  go/aoc24/day10/part_12_test.go
  go/aoc24/day10/part_1_test.go
  go/aoc24/day10/part_2.go
  go/aoc24/day10/part_2_test.go
  go/test_utils/test_files.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 7b648c48425c35a76e622408668f3cced7063cb2
  dev/bench/data.js
Due: none

test(go): add year 23 day 22 test cases
  go/aoc23/day22/part_1_test.go
  go/aoc23/day22/part_2_test.go
Due: GO

test(go): add year 23 day 22 test cases (#189)
  go/aoc23/day22/part_1_test.go
  go/aoc23/day22/part_2_test.go
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 9b17d8a77e25425a572c3cf7d2f87a66cf6b105e
  dev/bench/data.js
Due: none

feat(go): add go year 23 day 23
  go/aoc23/aoc23.go
  go/aoc23/day23/count_degrees.go
  go/aoc23/day23/count_degrees_test.go
  go/aoc23/day23/create_graph.go
  go/aoc23/day23/create_graph_test.go
  go/aoc23/day23/dfs.go
  go/aoc23/day23/parse_input.go
  go/aoc23/day23/parse_input_test.go
  go/aoc23/day23/part_1.go
  go/aoc23/day23/part_1_test.go
  go/aoc23/day23/part_2.go
  go/aoc23/day23/part_2_test.go
  go/aoc23/day23/print_field.go
  go/aoc23/day23/sample.txt
  go/go.mod
Due: GO

ci(github): update go to v1.25
  .github/workflows/tests.yml
Due: none

ci(github): update go to v1.25 (#191)
  .github/workflows/tests.yml
Due: none

add Go Benchmark (customSmallerIsBetter) benchmark result for d3f0944fd93f81fdac4065473e361ae69d4b9ca3
  dev/bench/data.js
Due: none

test(go): fix year 23 day 23 test cases
  go/aoc23/day23/create_graph_test.go
Due: GO

test(go): fix year 23 day 23 test cases
  go/aoc23/day23/count_degrees.go
  go/aoc23/day23/count_degrees_test.go
  go/aoc23/day23/create_graph_test.go
Due: GO

feat(go): add go year 23 day 23 (#190)
  go/aoc23/aoc23.go
  go/aoc23/day23/create_graph.go
  go/aoc23/day23/create_graph_test.go
  go/aoc23/day23/dfs.go
  go/aoc23/day23/parse_input.go
  go/aoc23/day23/parse_input_test.go
  go/aoc23/day23/part_1.go
  go/aoc23/day23/part_1_test.go
  go/aoc23/day23/part_2.go
  go/aoc23/day23/part_2_test.go
  go/aoc23/day23/print_field.go
  go/aoc23/day23/sample.txt
  go/go.mod
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for 8875141b9a6523b839d7e77936b69092a2db19bb
  dev/bench/data.js
Due: none

feat(go): improve year 24 day 23
  go/aoc24/day23/parse_input.go
  go/aoc24/day23/parse_input_test.go
  go/aoc24/day23/part_1.go
  go/aoc24/day23/part_1_test.go
  go/aoc24/day23/part_2.go
  go/aoc24/day23/part_2_test.go
  go/aoc24/day23/sample.txt
Due: GO

feat(go): improve year 24 day 23 (#193)
  go/aoc24/day23/parse_input.go
  go/aoc24/day23/parse_input_test.go
  go/aoc24/day23/part_1.go
  go/aoc24/day23/part_1_test.go
  go/aoc24/day23/part_2.go
  go/aoc24/day23/part_2_test.go
  go/aoc24/day23/sample.txt
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for af3d6d5c606d58564679c2af5e9c990b11047939
  dev/bench/data.js
Due: none

feat(go): fix year 23 day 24
  go/aoc23/aoc23.go
  go/aoc23/day24/calc.pdf
  go/aoc23/day24/calc.tex
  go/aoc23/day24/find_collisions.go
  go/aoc23/day24/find_collisions_test.go
  go/aoc23/day24/hail.go
  go/aoc23/day24/parse_input.go
  go/aoc23/day24/parse_input_test.go
  go/aoc23/day24/part_1.go
  go/aoc23/day24/part_1_test.go
  go/aoc23/day24/part_2.go
  go/aoc23/day24/part_2_test.go
Due: GO

feat(go): add test data
  go/aoc23/day24/.gitignore
  go/aoc23/day24/sample.txt
Due: GO

fix(go): improve year 23 day 24
  go/aoc23/day24/part_2.go
Due: GO

test(go): fix year 23 day 24
  go/aoc23/day24/part_1_test.go
Due: GO

feat(go): add year 23 day 24 (#192)
  go/aoc23/aoc23.go
  go/aoc23/day24/.gitignore
  go/aoc23/day24/calc.pdf
  go/aoc23/day24/calc.tex
  go/aoc23/day24/find_collisions.go
  go/aoc23/day24/find_collisions_test.go
  go/aoc23/day24/hail.go
  go/aoc23/day24/parse_input.go
  go/aoc23/day24/parse_input_test.go
  go/aoc23/day24/part_1.go
  go/aoc23/day24/part_1_test.go
  go/aoc23/day24/part_2.go
  go/aoc23/day24/part_2_test.go
  go/aoc23/day24/sample.txt
Due: GO

add Go Benchmark (customSmallerIsBetter) benchmark result for eb25897663a57edba68e4a4bf494c8d238f83020
  dev/bench/data.js
Due: none

feat(go): add year24 day24
  go/aoc24/day24/nodes.go
  go/aoc24/day24/parse_input.go
  go/aoc24/day24/parse_input_test.go
  go/aoc24/day24/part_1.go
  go/aoc24/day24/part_1_test.go
  go/aoc24/day24/sample.txt
Due: GO

feat(go): add year25 day01
  go/aoc25/aoc25.go
  go/aoc25/day01/part_1.go
  go/aoc25/day01/part_1_test.go
  go/aoc25/day01/part_2.go
  go/aoc25/day01/part_2_test.go
  go/aoc25/day01/sample.txt
  go/main.go
Due: GO

feat(go): add year25 day01 (#195)
  go/aoc25/aoc25.go
  go/aoc25/day01/part_1.go
  go/aoc25/day01/part_1_test.go
  go/aoc25/day01/part_2.go
  go/aoc25/day01/part_2_test.go
  go/aoc25/day01/sample.txt
  go/main.go
Due: GO

style(python): fixes for yapf
  python/aoc.py
  python/aoc25/day01/part_1.py
  python/aoc25/day01/part_2.py
Due: Python

feat(python): add year25 day01
  python/aoc.py
  python/aoc25/day01/__init__.py
  python/aoc25/day01/parse_input.py
  python/aoc25/day01/part_1.py
  python/aoc25/day01/part_2.py
  python/aoc25/day01/test_part_1.py
  python/aoc25/day01/test_part_2.py
Due: Python
